[2021-01-05 08:05] ruixuedongyang opened #1 "渗透服务不可用"
服务器上部署以后，msf模块无法启动，查看docker内的log显示检查60005端口，检查后发现端口并未占用
![msf](https://user-images.githubusercontent.com/29765332/103621171-c03b2d80-4f6f-11eb-8745-044050368943.png)
![端口](https://user-images.githubusercontent.com/29765332/103621175-c29d8780-4f6f-11eb-927a-3208854117ab.png)

[2021-01-05 09:09] FunnyWolf commented on #1
msf服务没起来，docker内部执行viper start

[2021-01-05 15:41] swrite commented on #1
并没有55个模块，发现应该阉割掉了

[2021-01-06 00:24] FunnyWolf commented on #1
哈哈，没有阉割这种操作，生成一个session后再执行就会发现所有模块了，因为有些模块需要session,隐藏了

[2021-01-06 05:16] ruixuedongyang commented on #1
内存太小了，起不起来。。。。。
换了个大内存的就好了

[2021-01-06 05:16] #1 closed

[2021-01-07 03:33] mmioimm opened #2 "执行系统命令失败"
环境 win7 64位 监听windows/x64/meterpreter_reverse_tcp，执行 shell whoami，报错：
![image](https://user-images.githubusercontent.com/19258899/103848040-758af400-50dc-11eb-8a63-ea4782f8b0a9.png)

[2021-01-07 12:22] FunnyWolf commented on #2
生成的session没有正确加载stdapi.dll,可以尝试重新生成一个session,如果重复出现,可能是杀软或os环境特殊.

[2021-01-09 11:52] srsec opened #3 "生成exe载荷500错误，__init__() got an unexpected keyword argument 'capture_output'"
你好。其他都运行正常。只有在生成windows载荷的时候返回500，错误，我看了下日志信息是：生成exe载荷500错误，__init__() got an unexpected keyword argument 'capture_output'，谢谢

[2021-01-09 13:01] #3 closed

[2021-01-10 14:43] srsec opened #4 "我自己写了exp，麻烦问下，怎么测试exp模块的正确性，谢谢"
我自己写了exp，麻烦问下，怎么测试exp模块的正确性，谢谢

[2021-01-13 01:00] FunnyWolf commented on #4
你是说自己写了viper的模块还是msf模块?

[2021-01-13 03:22] srsec commented on #4
嗯，是viper模块，怎么实时去调试，脚本的错误。而不是上传一次，看看有没有错误，在去改。谢谢

[2021-01-13 05:17] FunnyWolf commented on #4
搭建开发环境的比较复杂,具体思路可以使用pycharm的远程调试在docker容器中起调试器,然后本地连接调试器,docker中有viper的后台python代码及魔改后的msf代码,都是明文的,没有加密,具体django的启动信息可以查看viper.py的启动代码.不过这种方式开发体验很不好.

[2021-01-13 05:23] srsec commented on #4
好的，谢谢，主要我写了个提权模块，不知道怎么和你viper接口对接起来，丢到module目录下面，也需要去调用参数，比如，ip、payload,这里就没法下手。

[2021-01-13 05:30] srsec commented on #4
您有联系方式马？我可以加下马。谢谢

[2021-01-13 14:58] FunnyWolf commented on #4
下一个版本会在module的API代码中增加注释及在文档中增加编写模块的手册,当然初版可能会很简陋.

[2021-01-17 18:33] 35465erffd opened #5 "无法访问"
为什么不能访问不了ip:60000
docker ps 查看容器没有打开任何端口
我是严格按照步骤进行的

CONTAINER ID   IMAGE                                                 COMMAND                  CREATED          STATUS          PORTS                     NAMES
63c6fdd2c1be   registry.cn-shenzhen.aliyuncs.com/toys/viper:latest   "viper start -pw leg…"   7 minutes ago    Up 7 minutes                              viper-container

[2021-01-18 00:25] #4 closed

[2021-01-18 00:29] FunnyWolf commented on #5
容器使用的是host network,所以不用导出任何端口,类似直接桥接主机网卡的方式.看日志输出容器已经启动7分钟了,是使用的vps的外网ip:60000访问的吗?或者docker exec -it viper-container bash进入容器,然后netstat -anpt |grep 60000 看nginx起来没

[2021-01-18 01:26] shinegod opened #6 "无法启动"
Not Found: /api/auth_routes
msf连接失败,检查 127.0.0.1:60005 是否可用
Not Found: /api/auth_routes
[WARNING][2021-01-18 01:22:13][postmodule][_load_all_modules_config][113][uWSGIWorker1Core0] : 模块加载完成,共加载模块55个
[WARNING][2021-01-18 01:22:13][msgrpc][start][3349][uWSGIWorker1Core0] : 后台服务启动成功
[WARNING][2021-01-18 01:22:13][log][log_response][228][uWSGIWorker1Core0] : Not Found: /api/auth_routes
[pid: 50|app: 0

[2021-01-18 05:10] FunnyWolf commented on #6
https://github.com/FunnyWolf/Viper/issues/1 内存问题,可以增加虚拟内存,安装教程中有具体方法

[2021-01-18 08:43] lfqevf4 opened #7 "您好作者装完了之后黑屏是什么情况nginx已经启动了。看不到登录框，在vps安装的。"
`Failed to load resource: the server responded with a status of 404 (Not Found)
p__Core__HostAndSession.js:1 HostAndSession
umi.js:1 TypeError: Cannot read property '_store' of undefined
    at i (umi.js:1)
    at qa (p__Core__HostAndSession.js:1)
    at pa (umi.js:1)
    at Fu (umi.js:1)
    at Uc (umi.js:1)
    at Fc (umi.js:1)
    at Pc (umi.js:1)
    at umi.js:1
    at t.unstable_runWithPriori

[2021-01-18 14:17] shinegod commented on #6
4vCPUs | 16GB | c6.xlarge.4
Ubuntu 16.04 server 64bit

[2021-01-18 14:18] shinegod commented on #6
4vCPUs | 16GB | c6.xlarge.4
Ubuntu 16.04 server 64bit

[2021-01-18 14:35] FunnyWolf commented on #6
msf服务没起来，docker内部 (docker exec -it viper-container bash 进入) 执行viper start

[2021-01-18 15:16] shinegod commented on #6
这个一直显示404

[2021-01-18 15:27] shinegod commented on #6
Active Internet connections (only servers)
Proto Recv-Q Send-Q Local Address           Foreign Address         State
tcp        0      0 0.0.0.0:22              0.0.0.0:*               LISTEN
tcp        0      0 0.0.0.0:60000           0.0.0.0:*               LISTEN
tcp        0      0 127.0.0.1:60004         0.0.0.0:*               LISTEN
tcp        0      0 127.0.0.1:60005         0.0.0.0:*

[2021-01-18 15:40] shinegod commented on #6
UID        PID  PPID  C STIME TTY          TIME CMD
root         1     0  0 15:22 ?        00:00:00 /usr/bin/python3.7 /usr/bin/viper start -pw xxxxx
redis       18     1  0 15:22 ?        00:00:00 /usr/bin/redis-server 127.0.0.1:60004
root        34     1  0 15:22 ?        00:00:00 [nginx] <defunct>
root        38     1  0 15:22 ?        00:00:09 [ruby] <defunct>
root        40     1  0 15:22 ?

[2021-01-18 18:11] 35465erffd commented on #5
ok了 我没有放行端口😂😂😂😂😂😂😂😂😂

[2021-01-19 00:25] FunnyWolf commented on #7
看日志是前端umi报错了,这个从来没有遇到过,尝试清理一下浏览器缓存呢,如果解决不了可以发一下chrome的console日志看一下

[2021-01-19 00:26] #5 closed

[2021-01-19 00:29] FunnyWolf commented on #6
Not Found: /api/auth_routes 这个404是前端代码遗留的api,不影响使用,看输出需要的服务应该都起来了,现在使用的话还会报错吗?因为msfrpc启动较慢,可能会在刚启动时出现无法连接问题,30秒后就好了

[2021-01-19 06:18] lfqevf4 commented on #7
![捕获](https://user-images.githubusercontent.com/77491142/104995381-3015e180-5a61-11eb-9932-3aebaf273a0c.PNG)
这个是chrome的console日志

[2021-01-19 08:31] FunnyWolf commented on #7
https://github.com/umijs/umi/issues/5479 应该是umi和dva冲突了,是前端框架的问题,理论上不应该影响展示,页面全黑还是一直loading?

[2021-01-20 01:51] Lan1-Lan commented on #7
全黑

[2021-01-20 09:10] 35465erffd commented on #7
我也是全黑

[2021-01-20 12:04] #6 closed

[2021-01-20 12:24] FunnyWolf commented on #7
已经重现这个bug,但具体原因还没有定位出来,可以通过先访问https://VPSip:60000/#/user/login 来进行登录,暂时规避这个bug

[2021-01-20 12:24] FunnyWolf commented on #7
已经重现这个bug,但具体原因还没有定位出来,可以通过先访问https://VPSip:60000/#/user/login 来进行登录,暂时规避这个bug

[2021-01-20 12:34] Lan1-Lan commented on #7
![image](https://user-images.githubusercontent.com/20243850/105175467-eca19d00-5b5e-11eb-8c6c-d1fb9b601a1e.png)

[2021-01-20 12:36] Lan1-Lan commented on #7
![image](https://user-images.githubusercontent.com/20243850/105175616-2c688480-5b5f-11eb-9a2f-336821d5b5e0.png)

[2021-01-20 12:40] FunnyWolf commented on #7
端口占用了吗?也可能是msfrpc没起来
![image](https://user-images.githubusercontent.com/17685281/105176051-abf65380-5b5f-11eb-83ed-822e5989d2f4.png)

[2021-01-20 17:36] 35465erffd commented on #7
终于弄好了  能登录进来就可以
提个建议 自定义后台地址 登录端口 （参考宝塔）有效防止反渗透
![捕获](https://user-images.githubusercontent.com/77112204/105212937-06f07080-5b89-11eb-99b7-4e4796dba0d6.PNG)

[2021-01-20 23:44] FunnyWolf commented on #7
好建议，自定义端口一是用的人容易忘了，二是没法防御全端口扫描，一直没有好的方案

[2021-01-24 10:06] FunnyWolf commented on #7
https://github.com/FunnyWolf/Viper/commit/dc0991ff504773cc067737684617b0e1458bebfe

[2021-01-24 10:06] #7 closed

[2021-01-27 08:31] hkxueqi commented on #2
测试目标一：win10 1809 x64  无杀软，关了自带杀软/防火墙。
测试目标2：centos 7.8
shell >  whoami
[-] Error: Command -- whoami is nonsupport
[-] undefined method `cmd_exec' for #<Msf::Modules::Post__Multi__Manage__Execute::MetasploitModule:0x00007feb9a45e718>

[2021-01-31 11:38] FunnyWolf commented on #2
https://github.com/FunnyWolf/Viper/commit/b8278c19787d2c192726320b6888d228d009cb42

[2021-01-31 11:38] #2 closed

[2021-02-07 03:13] hkxueqi opened #8 "监听器未启动，端口未开启"
在平台创建了监听器，docker和宿主机内并未开放端口。

验证：“CONSOLE”子页面内，使用命令创建监听器成功，端口是开启状态。

[2021-02-07 03:26] FunnyWolf commented on #8
页面返回的错误信息是什么?在页面创建监听器调用的是系统的hander 不过在之前有一步检查端口是否被占用的操作,有具体的截图吗?

[2021-02-07 03:32] hkxueqi commented on #8
14 分钟后所有历史监听加载完成
14 分钟后历史监听 Payload:windows/meterpreter_bind_tcp Port:6666 加载成功
14 分钟后新建监听成功:windows/meterpreter_bind_tcp 6666 JobID:1
14 分钟后历史监听 Payload:windows/meterpreter_bind_tcp Port:5555 加载成功
14 分钟后新建监听成功:windows/meterpreter_bind_tcp 5555 JobID:0
---------------------

《监听器》

windows/meterpreter_bind_tcp | 192.168.199.106 | 5555 |
windows/meterpreter_bind_tcp | 192.168.199.106 | 6666
-------

[2021-02-07 03:33] hkxueqi commented on #8
![QQ截图20210207113048](https://user-images.githubusercontent.com/42443541/107135756-4b755d80-6938-11eb-9ccc-c3c25c15002e.jpg)

[2021-02-07 03:52] hkxueqi commented on #8
解决了，是我创建载荷的问题，抱歉

[2021-02-07 03:53] #8 closed

[2021-02-20 04:49] ViCrack commented on #7
可选的自定义后台网页地址和端口功能, 用的人可以记录到书签上, 不然这样登录接口也没验证码还是容易被爆破

[2021-02-20 08:28] ViCrack opened #9 "Console页面输入数据无法使用左右键盘移动光标"
![图片](https://user-images.githubusercontent.com/18179821/108589159-10434780-7398-11eb-81b6-0c733af5dd75.png)

![图片](https://user-images.githubusercontent.com/18179821/108589182-2bae5280-7398-11eb-8c8b-70841cb0eb9d.png)

界面对一些按键支持还不是很好, 比如无法使用左右键盘移动光标, 按了HOME键之后就会导致屏幕错乱
万一输入错的话还是有点麻烦

![图片](https://user-images.githubusercontent.com/18179821/108589045-68c61500-7397-11eb-95c3-4d82a40f830b.png)

另外这里能

[2021-02-21 05:53] FunnyWolf commented on #9
Console处理左右键和home键需要对输出缓存进行操作,处理起来非常麻烦,又不愿意写,所以偷懒前端直接屏蔽了左右键(home键忘屏蔽了)

[2021-02-21 11:13] FunnyWolf commented on #9
[server酱 commit](https://github.com/FunnyWolf/Viper/commit/60d1d1220ac91eaa09bdefda6c2753dce6d743a3)

[2021-02-21 15:45] ViCrack commented on #9
![图片](https://user-images.githubusercontent.com/18179821/108630233-bbd6bf80-749e-11eb-9b10-cae6d488b7f6.png)
server酱的试了已经可以用了

[2021-02-27 09:45] #9 closed

[2021-03-04 14:03] ViCrack opened #10 "监听载荷部分有点疑问"
![image](https://user-images.githubusercontent.com/18179821/109971871-a7fa4b80-7d31-11eb-9d3b-09a325e722cd.png)
点击虚拟化之后会重复多一条记录出来, 要取消监听的话 只能是删除当前监听的这个,  这块功能是设计如此么?

点击详情, 查看参数现在还无法支持编辑, 有时候填错了比较麻烦

![image](https://user-images.githubusercontent.com/18179821/109975133-450ab380-7d35-11eb-915a-1c514992157b.png)
linux 环境下console执行命令会报

/bin/sh: line 1: $'\r': command not found

[2021-03-05 03:07] FunnyWolf commented on #10
虚拟化的功能是使用实际监听的配置新建一个虚拟监听,实例化是使用虚拟监听的配置新建一个真正的监听,可能是虚拟化这个名称容易让人误解将实际监听`转化`为虚拟监听

[2021-03-05 03:17] FunnyWolf commented on #10
关于修改监听参数的功能,如果修改真实监听参数,可能会出现现有的Session掉线问题,不熟悉的人会很疑惑.
修改虚拟监听参数,暂时也想不到有哪些场景需要这个功能.
后续调研一下MSF如何动态的修改handler参数,已经将该需求放入到project中

[2021-03-05 05:06] FunnyWolf commented on #10
linux无法执行shell命令已复现,暂时可以通过在meterpreter 执行 shell -c whoami 规避这个问题

[2021-03-06 04:46] ViCrack commented on #10
点击虚拟化时确实会把当前实际监听的复制后新建一个新的虚拟监听, 但是点击实例化的时候只是把当前的转化为实际监听, 并没有新建一个, 所以我本以为是用来转化的功能

其实虚拟监听的我是事先建好主要用来方便生成载荷的, 不用每次都点一遍

[2021-03-06 06:14] FunnyWolf commented on #10
点击实例化时不会将对应的虚拟监听删除,在实际使用过程中点击实例化后原来的虚拟监听消失了吗?如果消失了可能是bug,预期不是这样.

[2021-03-06 12:42] ViCrack commented on #10
再确认了一下现在又正常了, 之前可能是做了什么操作,  好像弹了几次新建监听超时之后才有的现象

[2021-03-16 07:34] SkyBlueEternal opened #11 "反馈几个问题。"
LINUX 分离免杀载荷在KALI下面执行出现异常，ELF原生载荷也是会异常。

[2021-03-16 07:36] SkyBlueEternal commented on #11
首先配置监听器之后，点击生成载荷会出现无法下载载荷的情况，云主机和虚拟机都测试过。

[2021-03-18 03:11] SkyBlueEternal opened #12 "BUG问题反馈"
在异或编码中，次数选择15次，会导致生成载荷失败。

[2021-03-20 12:56] FunnyWolf commented on #11
此问题无法复现

[2021-03-20 12:56] FunnyWolf commented on #12
问题无法复现

[2021-03-25 01:43] FunnyWolf commented on #12
先关闭,后续复现再开启.

[2021-03-25 01:43] #12 closed

[2021-03-25 01:44] FunnyWolf commented on #11
先关闭,后续复现再开启

[2021-03-25 01:44] #11 closed

[2021-03-31 09:08] Fnzer0 opened #13 "问题和建议"
1、文件列表的下载功能有路径穿越问题
![image](https://user-images.githubusercontent.com/29793688/113117507-19e68780-9241-11eb-932f-f9c447f629e5.png)
2、console是否能支持如下类似的监听方式
use exploit/multi/handler
set payload windows/shell_reverse_tcp
![image](https://user-images.githubusercontent.com/29793688/113119112-a776a700-9242-11eb-82fd-c855f8f4e00c.png)

3、监听载荷的生成是否能支持get url下载的方式，或者生成在文件列表下方便下载

[2021-03-31 13:50] FunnyWolf commented on #13
2、console是否能支持如下类似的监听方式
viper暂时不支持shell类型的session,因为几乎所有的界面功能都依赖于stdapi.

[2021-03-31 13:55] FunnyWolf commented on #13
3、监听载荷的生成是否能支持get url下载的方式，或者生成在文件列表下方便下载
类似geturl下载方式在`文件列表`的`一句话下载`功能中有,可以将生成的payload上传到`文件列表`中,就点击`一句话下载`就会显示所有的一句话下载链接了.
至于提到的直接将生成的payload存储在文件列表中,因为当前一句话下载已经过不了任何杀软了,是否有必要呢?

[2021-03-31 14:18] ViCrack commented on #13
@FunnyWolf
1、绝对路径的穿越问题, 既然修复了, 但修复的还不是很完美, 除了下载之外, 删除destory_msf_file, 写入或上传等操作应该也有类似的情况
而且通过判断filename路径是否存在, 来区分是否绝对路径
那么假设MSFLOOT目录下有个test文件, 根路径/下也正好有一个test文件, 这种就会冲突了
虽然可能性低...

[2021-03-31 23:22] FunnyWolf commented on #13
我觉得你的方案很好,使用normpath来解决..穿越路径问题,使用os.path.join拼接之后,在使用startswith来解决os.path.join的坑.

[2021-04-01 00:03] FunnyWolf commented on #13
https://github.com/FunnyWolf/viperpython/commit/00dd5c4e791e1eb9ad62369ca7cf0e48b2278d4c

[2021-04-02 02:02] Fnzer0 commented on #13
4、内网端口扫描模块，linux的权限是否有问题，我试了x86和x64的，任务是下发了，但是没结果输出，windows的权限是正常输出的

[2021-04-02 03:11] FunnyWolf commented on #13
linux 端口扫描是有bug,现在还在修复中

[2021-04-03 01:13] FunnyWolf commented on #13
https://github.com/FunnyWolf/vipermsf/commit/c5b5f8b979aab9d76750819a30da9b8741fb4036

[2021-04-04 11:40] FunnyWolf commented on #13
https://github.com/FunnyWolf/Viper/commit/2a133de8a3368ffa673586d88da45d3df15d49cb

[2021-04-04 11:40] #13 closed

[2021-04-10 17:06] lonelykin opened #14 "内网主机 ，全选，批量删除，主机过多的情况报 502错误"
![photo_2021-04-11_01-03-56](https://user-images.githubusercontent.com/13845732/114278375-17b2d300-9a62-11eb-80ae-3efd45dc670b.jpg)

[2021-04-11 14:08] Logan147 opened #15 "viper最新版没有报错但console无法使用模块面板有"
viper最新版没有报错但console无法使用，模块面板一直显示nodata，运行生成的payload监听模块也没反应。

![屏幕截图 2021-04-12 06:07:40](https://user-images.githubusercontent.com/58822519/114307490-6d46b880-9b12-11eb-8050-02c11a7817ca.png)

[2021-04-11 14:09] Logan147 commented on #15
谁来救救我

[2021-04-11 14:37] Logan147 commented on #15
msf接口日志什么也没有但能生成payload
![屏幕截图 2021-04-12 06:36:42](https://user-images.githubusercontent.com/58822519/114308402-69b53080-9b16-11eb-9383-037f0afae0aa.png)

[2021-04-11 23:16] FunnyWolf commented on #15
应该是后台服务没有起来,启动方法是docker-compose up -d,.日志可以贴全一点

[2021-04-11 23:18] FunnyWolf commented on #14
虽然没有复现,但是我猜测应该是delete请求的参数太长导致超出浏览器限制了,这个后续采用拆分请求的方式规避

[2021-04-12 03:38] Logan147 commented on #15
好的，我试一试

[2021-04-12 03:43] Logan147 commented on #15
puma.log 还是没有内容
![屏幕截图 2021-04-12 06:36:42](https://user-images.githubusercontent.com/58822519/114337730-4032ee00-9b84-11eb-83b8-89a03c684261.png)
![屏幕截图 2021-04-12 06:07:40](https://user-images.githubusercontent.com/58822519/114337738-43c67500-9b84-11eb-8f63-0c5b05fdb827.png)

[2021-04-12 03:48] Logan147 commented on #15
这是error.log的内容
![屏幕截图 2021-04-12 19:44:41](https://user-images.githubusercontent.com/58822519/114337881-87b97a00-9b84-11eb-9bff-d5fc77e4915d.png)
这是puma.log的内容
![屏幕截图 2021-04-12 19:43:59](https://user-images.githubusercontent.com/58822519/114337921-9869f000-9b84-11eb-9764-75129139a192.png)

这是viperpython.log的内容
![屏幕截图 2021-04-12 19:46:51](https://user-images.githubusercontent.com/58822519/11433807

[2021-04-12 03:49] Logan147 commented on #15
他显示后台服务启动成功但是还是一直no data 不能用console

[2021-04-12 05:10] FunnyWolf commented on #15
还是启动方法不对,后台在不断重启,应该是没有按照手册安装,现在信息无法定位是什么原因导致的

[2021-04-12 08:30] Logan147 commented on #15
我直接用apt-get安装的docker.io和docker-compose会不会是这个原因

[2021-04-12 08:36] Logan147 commented on #15
我删除docker和docker-compose后按照手册重新安装但没有反应
![屏幕截图 2021-04-13 00:36:00](https://user-images.githubusercontent.com/58822519/114365568-2c4fb200-9bad-11eb-802e-6710f8c551c0.png)

[2021-04-12 08:56] Logan147 commented on #15
这次我又重装了一次不重启了但还是不显示console一直no data
![屏幕截图 2021-04-13 00:54:43](https://user-images.githubusercontent.com/58822519/114368403-f7912a00-9baf-11eb-8f46-5fbf01ccbb8d.png)
![屏幕截图 2021-04-13 00:55:05](https://user-images.githubusercontent.com/58822519/114368420-fb24b100-9baf-11eb-915b-050f5596d244.png)

[2021-04-12 16:44] Baikeryoyo opened #16 "可以支持Windows嘛"
感觉linux对我太不友好了。。。

[2021-04-13 01:08] FunnyWolf commented on #16
无法支持windows,很多ruby库在windows上无法运行

[2021-04-13 01:08] #16 closed

[2021-04-13 13:18] FunnyWolf commented on #15
不要用127.0.0.1,前端代码对127有特殊处理

[2021-04-16 03:01] #15 closed

[2021-04-17 05:26] #14 closed

[2021-04-19 03:04] possib1e opened #17 "[BUG]隔断时间就全部掉线，msfrpcd未启动"
ubuntu18, 2h4g，隔断时间就全部掉线，查看docker日志是显示[x] msfrpcd未启动，面板显示渗透服务不可用，更新渗透服务，重载所有模块无法解决，重启docker有时候要好几个小时才会重新上线。

[2021-04-19 05:09] FunnyWolf commented on #17
反馈一下日志信息,https://www.yuque.com/vipersec/faq/is0ypq

[2021-04-21 12:33] 1pNxJk opened #18 "payload"
有没有 [vbulletin widget模板命令执行] 这种模块的开发说明文档

[2021-04-25 07:01] FunnyWolf commented on #17
问题发生原因很可能是由于开放reverse_tcp及socks代理到外网的常用端口(80,1080),导致内存占用飙升,服务崩溃.
由于ruby本身的gc机制,暂时没有技术手段规避.使用以下commit进行提示

https://github.com/FunnyWolf/viperjs/commit/8b35c9a58de491db28e30c6e098eeba63d1ce35f#diff-ff17c59812c160dce30f79469d01bfe98f0188d86da10d1d3d77fb6499a0b2e5

[2021-04-25 07:01] #17 closed

[2021-04-29 01:58] FunnyWolf commented on #18
https://www.yuque.com/vipersec/code/nqmgvy

[2021-05-24 06:57] WillieMatthewLiu opened #19 "[BUG]"
**描述Bug**
生成的监听载荷被火绒查杀

**截图**
请提供Bug出现时的截图.
![image](https://user-images.githubusercontent.com/6253286/119308889-2f57bb00-bca0-11eb-9980-f2c667fa8963.png)

**运行环境:**
 - OS: [Windows 2012]

[2021-05-24 07:37] FunnyWolf commented on #19
使用免杀模块生成载荷即可,比如`Callback免杀(CreateThreadpoolWait)`
![image](https://user-images.githubusercontent.com/17685281/119313320-fe7a8480-bca5-11eb-8f9a-91316c8d4387.png)

[2021-06-03 01:36] zhengjingyuan3855 opened #20 "持久化不行，全给360报毒了"

[2021-06-03 03:02] FunnyWolf commented on #20
作者水品有限,当前已知的所有需要动注册表的持久化方法都过不了360,而且也没有发现那种方式能绕过360的监控

[2021-06-04 13:17] carr0t2 opened #21 "每次打开viper后，浏览器cpu占用都会变高"
**描述Bug**
浏览器打开viper后，cpu占用过高（可以确定是viper引起的）

**如何复现**
请说明如何复现Bug:
1. 安装Viper
2. 打开浏览器
3. 输入密码
4. Bug出现了

**截图**
![image](https://user-images.githubusercontent.com/62796978/120807027-18577980-c57a-11eb-857f-3477320e8958.png)

**运行环境:**
viper docker + chrome+ Firefox

虽然可能没什么影响，但是还是好奇
@Funnywolf

[2021-06-05 00:06] zhengjingyuan3855 commented on #20
那啥，平台自带的msfconsole能加载模块吗？希望开通此功能

[2021-06-05 01:02] FunnyWolf commented on #21
我之前就发现了这个问题,一直以为是只在开发环境存在,但是无法定位到哪个javascript在占用cpu

[2021-06-05 01:14] FunnyWolf commented on #20
msf自带的模块msfconsole都可以使用,和命令行版本的功能一样,如果你要加载自己写的msf模块,就需要把msf模块上传到docker容器内部的/root/.msf4/module/目录中

[2021-06-05 08:56] zhengjingyuan3855 commented on #20
好，谢谢，好项目点个赞

[2021-06-07 07:28] #20 closed

[2021-06-10 05:43] zhengjingyuan3855 opened #22 "给个建议"
最好能把重复的session收录成一个汇总的，实战中看起来比较乱。尤其是网络拓扑，真的不好看
。

[2021-06-10 06:28] laohuan12138 opened #23 "使用reverse_http和reverse_https生成的exe载荷无法使用，程序崩溃导致无法上线"
使用这两个paylaod生成的载荷无法上线，调试显示程序已崩溃，只有reverse_tcp能顺利上线。

[2021-06-10 06:35] FunnyWolf commented on #23
请反馈一下监听具体的配置信息

[2021-06-10 08:49] Aziqzz opened #24 "提个小小的建议"
有些内网主机出网是通过内部的代理服务器出网的，那么我们生成的木马需要先走内网代理服务器，那么就需要指定代理地址，建议把msf中的HttpProxyHost、HttpProxyPort、HttpProxyUser、HttpProxyPass参数加到自定义参数里面供特殊环境中使用（比如msf payload中windows/x64/meterpreter/reverse_http就有设置这些参数的功能，可以通过show advanced查看）

[2021-06-10 10:10] freeAhao commented on #24
何大佬说的对

[2021-06-10 10:47] FunnyWolf commented on #22
来个图? 或者说有其他工具可以参考吗?

[2021-06-10 10:52] FunnyWolf commented on #24
在使用windows/x64/meterpreter/reverse_https这种载荷时,会自动调用windows的系统代理尝试连接C2,所以msf在鱼叉攻击外企或者大型企业时比CS好用,因为你不用事先了解对方内网的代理服务器是什么.

[2021-06-10 11:11] freeAhao commented on #24
可以动态获取不同payload的所有参数吗，并动态构建自定义参数列表，而不是硬编码几个固定的参数。

[2021-06-10 11:28] FunnyWolf commented on #24
是不是需要在前端UI能动态添加监听的所有参数信息(或者说动态选择),这个功能考虑过添加,但是前端实现起来太麻烦了,所以就没加,其实在msfconsole中建立的监听在UI上也能展示,我加入到TODO里面吧

[2021-06-10 15:15] heimingdan opened #25 "系统服务持久化错误"
模块前序检查失败,检查函数内部错误

[2021-06-10 22:48] FunnyWolf commented on #25
请贴一下/root/VIPER/log/viperpython.log的对应日志

[2021-06-10 23:02] #25 closed

[2021-06-11 08:42] heimingdan opened #26 "模块前序检查失败,检查函数内部错误[BUG]"
系统服务持久化  提示 模块前序检查失败,检查函数内部错误

[2021-06-11 10:39] FunnyWolf commented on #26
同 https://github.com/FunnyWolf/Viper/issues/25 一样,已经通过https://github.com/FunnyWolf/viperpython/commit/8a0c2db16c00ecfa8fd46b18036afb73ccd9d45c解决,下个版本发布.不要重复提issus

[2021-06-12 13:05] FunnyWolf commented on #22
https://github.com/FunnyWolf/viperpython/commit/4c33f58e36b675712748cbfe508b20e0b6b19234

[2021-06-13 10:00] FunnyWolf commented on #26
https://github.com/FunnyWolf/Viper/commit/6a1afec288e727f1643cc38a738ffb0e65de0901

[2021-06-13 10:00] #26 closed

[2021-06-13 10:00] FunnyWolf commented on #22
https://github.com/FunnyWolf/Viper/commit/6a1afec288e727f1643cc38a738ffb0e65de0901

[2021-06-13 10:00] #22 closed

[2021-06-13 21:15] stuhk commented on #23
我也是同样的问题  win10 x64

[2021-06-14 05:55] FunnyWolf commented on #23
![image](https://user-images.githubusercontent.com/17685281/121845525-28105400-cd18-11eb-9e10-fb232b956507.png)
使用这种免杀载荷是否能上线?

[2021-06-15 14:08] zhengjingyuan3855 opened #27 "建议优化重复的sessions，提高美观度，让使用者一目了然"
![捕获](https://user-images.githubusercontent.com/55523076/122067295-0d2c0580-ce26-11eb-8d99-3f91bea79757.PNG)最好能把这些重复的sessions合并在一起，让使用者一目了然。

[2021-06-17 13:12] FunnyWolf commented on #24
https://github.com/FunnyWolf/viperjs/commit/f0518ec94aa01df3a44658c89bc74cbf061a837b

[2021-06-17 13:12] FunnyWolf commented on #24
权衡了一下,觉得如果把handler的全部参数都放在ui上太乱了,用户也不一定全用上,所以就加了可能有用处的一些参数

[2021-06-20 04:19] #24 closed

[2021-06-21 09:15] TesterCC opened #28 "请问viperjs有详细一点的本地开发调试文档吗？"
您好，请问 https://github.com/FunnyWolf/viperjs 有详细一点的本地开发调试文档吗？
目前viperjs代码拉到本地，直接安装环境后，运行umi dev访问的话是一个空白的页面。

[2021-06-21 11:45] FunnyWolf commented on #28
当前暂时没有关于viperjs和vipermsf的开发文档,因为本身会react和ruby的人员不多.
这里可以简单说一下如何搭建viperjs的调试环境

先按照https://www.yuque.com/vipersec/code/nqmgvy搭建python的开发环境
注意这里将127.0.0.1改成0.0.0.0,也就是把django服务暴露出来
![image](https://user-images.githubusercontent.com/17685281/122756276-c710ef00-d2c8-11eb-9d94-12b3f441493a.png)

https://github.com/FunnyWolf/viperjs/blob/main/config/config.js
修改
[code]
为
[code]
就是将js的请求转发到django
然后npm r

[2021-06-21 12:07] TesterCC commented on #28
@FunnyWolf 十分感谢，我再试试

[2021-06-21 12:07] #28 closed

[2021-06-22 10:16] ViCrack commented on #27
不妨加一个分组功能 , 如果重复的话合并成一组 , 可以折叠和展开 , 可以按IP/标签/系统等条件切换分组 , 新session创建的时候自动归并到所属组中
界面类似[pull/542](https://github.com/quasar/Quasar/pull/542) 不知道这种是不是能满足要求

[2021-06-23 06:22] LoneWolf1927 opened #29 "[BUG]FOFA API 验证失败"
**描述Bug**
FOFA API 验证无法通过，输入FOFA email and key后，系统提示[输入的FOFA配置不可用,请检查email及key是否正确].

**如何复现**
1. 安装Viper
2. 打开浏览器
3. 进入[平台设置]-->[FOFA API]
4. 输入FOFA email and key[信息确定输入正确]，点击[更新]
5. 系统提示[输入的FOFA配置不可用,请检查email及key是否正确] / 多次尝试均失败

**预期行为**
验证通过.

**截图**
![image](https://user-images.githubusercontent.com/24381168/123045154-2425b580-d42d-11eb-9976-90789d60a914.png)

**运行环境:**
 - OS: [ubuntu18.04]
 -

[2021-06-23 14:31] FunnyWolf commented on #29
不好意思,因为我的FOFA账号失效了,所以这个功能现在调试不了~

[2021-06-26 07:25] FunnyWolf commented on #29
fofa非会员账号不允许使用rest_api

[2021-06-26 07:25] #29 closed

[2021-06-26 07:31] LoneWolf1927 commented on #29
我的FOFA账户是VIP，KEY是合适的

[2021-06-28 10:24] Richard-Tang opened #30 "[BUG] 无法重置密码"
**描述Bug**

使用以下命令无法进行密码重置！

[code]

提示错误信息

[code]

**截图**

![image](https://user-images.githubusercontent.com/30547741/123621328-ab17cb00-d83d-11eb-9d88-5c1d1f55cdc9.png)

**运行环境:**
 - OS: `CentOS Linux release 7.6.1810 (Core)`
 - Docker: `version 20.10.7, build f0df350`
 - Version: `Viper-v1.3.13 20210627`

[2021-06-28 10:47] FunnyWolf commented on #30
https://github.com/FunnyWolf/viperpython/commit/805e75b9c50fc5acd184985825f2ac39de38c795

[2021-07-05 01:25] FunnyWolf commented on #30
https://github.com/FunnyWolf/Viper/commit/e2a61e885873fd3318d947a2058eb16548f3a734

[2021-07-05 01:25] #30 closed

[2021-07-08 05:16] hongwei520 opened #33 "生成的客户端 无法运行在windwos 2003 上"
![1625721366(1)](https://user-images.githubusercontent.com/39451921/124866328-d1ccc300-dfee-11eb-8b69-e0bb0847735f.jpg)

[2021-07-08 05:19] TesterCC opened #34 "[BUG] 删除viper的docker数据后并重建后，Viper一直在不断生成监听载荷，无法停止。"
**描述Bug**
请简短描述遇到的Bug.

**如何复现**
请说明如何复现Bug:
（非必现步骤，只是说明我做的操作）
1. 安装Viper，切换成本地开发的模式
2. 新建了两个 windows/meterpreter/bind_tcp 的监听载荷
3. 然后测试了一些直接上线的自定义exp
4. docker一直保持运行，第二天发现Bug出现了：
Viper一直在不断生成监听载荷，无法停止。

个人尝试删除挂载数据库和docker-compose down ，但是启动后的进入Viper Web界面，监听载荷列表一直在不断创建新的监听载荷（而且是重复的），实时输出也在显示新建监听成功XXX,JobID:XXXX。

**截图**
![](https://cdn.jsdelivr.net/gh/TesterCC/pic_bed2/企业微信截图_16257172351045.png)

[2021-07-08 05:30] FullStackPentest opened #35 "求教Viper服务端代码可以直接部署在Ubuntu的虚拟机中而非用Docker进行调试吗？"
利用Docker来开发自定义exp是很方便，但是如果想要把viper-python和其它渗透测试工具做集成，在docker里面调试不太方便。
请问Viper服务端（viperpython和vipermsf）可以直接部署在Ubuntu的虚拟机中吗？
是否有相关文档或者简单介绍下非docker的部署方式？因为目前看语雀文档目前好像只有Docker的开发调试方案。

[2021-07-08 05:38] TesterCC commented on #34
补充一下：后来我把最开始编号1-4的监听载荷给删除了，过了一会儿刷新Viper Web界面终于不再重复继续创建监听了载荷了，根据控制台的文字提示这个时候已经新建了2000+的监听载荷了。

[2021-07-08 06:43] FunnyWolf commented on #34
viper的python进程每次启动会把redis缓存中的监听配置读出来,然后调用api在msf中新建,循环建立了2000多个监听应该是viper的python进程不断重启导致的,重启原因可能是本地开发模式的问题,一般来说reverse类型的监听不会出现重复(因为端口被占用了),bind类型监听我没有测试过,可以贴一下viperpython.log内容,看一下为什么python进程一直重启

[2021-07-08 06:54] FunnyWolf commented on #35
可以,你需要在虚拟机中安装viperpython中requirements.txt里面的组件(python3.7),安装redis 然后配置好密码,根据https://github.com/rapid7/metasploit-framework/wiki/Setting-Up-a-Metasploit-Development-Environment安装msf的开发环境.

因为viperpython和vipermsf的涉及到restapi和redis两个数据传输通道,所以配置比较复杂

[2021-07-08 07:01] FunnyWolf commented on #27
后续会调研一下

[2021-07-08 07:03] FunnyWolf commented on #23
先关闭,后续复现再打开

[2021-07-08 07:03] #23 closed

[2021-07-08 07:45] TesterCC commented on #34
---

当时还在不断创建新的bind监听时，用tail- f监控过viperpython.log和其它日志，当时并没有什么异常日志。看看以后能不能找到必现场景了。

[2021-07-09 01:40] TesterCC commented on #35
@FunnyWolf 借楼一问，请问非Docker安装的话，代码是 从Docker里面拉取 还是 直接拉取相应的viperpython和vipermsf的git repo来部署呢？

[2021-07-09 10:21] FullStackPentest commented on #35
跟着搭建了一下，请问donut-shellcode==0.9.3这个第三方库是你们修改过吗？我看pypi上donut-shellcode最新版本只到了0.9.2，而且用python3.7.5直接安装donut-shellcode会报错。

[2021-07-10 01:00] FunnyWolf commented on #35
我应该是用的开发版,donut在很多场景有bug,直接用0.9.2版本也没有问题.

[2021-07-10 01:01] FunnyWolf commented on #35
我建议用docker里面的代码,因为github的代码我一直在更新,因为就一个人维护也不讲究什么分支,所以前端后端msf代码可能不适配.

[2021-07-10 01:02] FunnyWolf commented on #34
先关闭这个issus,如果后续问题再次出现再打开.

[2021-07-10 01:02] #34 closed

[2021-07-10 02:37] FunnyWolf commented on #21
最近一直在跟踪这个问题,实际测试发现只要访问react写的网站,都有几率触发这个cpu占用的问题,chrome和edge都有,我觉得是react组件与浏览器内核之间的问题

[2021-07-10 07:51] FunnyWolf commented on #33
该问题在win2003上未复现,
![image](https://user-images.githubusercontent.com/17685281/125156174-b56b8a80-e196-11eb-94a2-03447815e8e2.png)

[2021-07-10 12:04] FunnyWolf commented on #27
https://github.com/FunnyWolf/Viper/commit/999172586441c1803304619833590c950560bc03
功能已实现

[2021-07-10 12:04] #27 closed

[2021-07-11 10:23] FullStackPentest commented on #35
@FunnyWolf 你好，我本机基本环境已配置上，执行viper init后，msfrpcd这个服务一直无法启动。请问 msfrpcd 这个服务应该如何启动？是需要手动命令行启动吗？

[2021-07-13 02:22] bu1xuan2 opened #36 "[BUG]"
**生成的linux马儿无法上线**

Viper版本
平台版本v1.3.15 | 更新时间2021-07-11
生成的linux马儿正常上线
生成的linux马儿不发正常上线

**补充信息**
如果有需要补充的信息,请在此处描述.
@Funnywolf

[2021-07-13 08:51] FunnyWolf commented on #36
提供一下目标linux版本

[2021-07-15 13:53] #36 closed

[2021-07-21 05:20] #33 closed

[2021-07-21 05:20] #21 closed

[2021-07-28 09:15] deaph opened #37 "[BUG] pull 失败"
**描述Bug**
pull 报错

**如何复现**
请说明如何复现Bug:
1. 安装Viper

**预期行为**
预期pull成功

**截图**
![image](https://user-images.githubusercontent.com/36835575/127297011-cfded3ce-30f9-40cb-b647-bcdbf67fca01.png)

**运行环境:**
 - OS: [e.g. ubuntu18]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 1.3.2]

**补充信息**
/usr/local/lib/python2.7/dist-packages/paramiko/transport.py:33: CryptographyDeprecationWarning: Python 2 is

[2021-07-28 11:34] FunnyWolf commented on #37
https://www.yuque.com/vipersec/faq/ag9xiv

[2021-07-29 01:38] deaph commented on #37
单独请求https://registry.cn-shenzhen.aliyuncs.com/v2/
收到这样的返回，这个镜像资源是不是要登录啊？
{"errors":[{"code":"UNAUTHORIZED","message":"authentication required","detail":null}]}

[2021-07-29 07:22] FunnyWolf commented on #37
viper镜像是公开的,不需要登录,单独访问接口是要登录的

[2021-07-30 01:45] #37 closed

[2021-07-30 04:40] wumingzhilian opened #38 "无法回连，监听器不处于工作状态"
麻烦师傅指导
运行环境ubuntu
所有安装一键docker
全端口开放
生成监听器，访问页面不会返回it work

[2021-07-30 05:07] FunnyWolf commented on #38
访问页面的现象是什么,无法连接吗?使用netstat -anpt能看到监听对应端口吗?

[2021-07-30 05:14] wumingzhilian commented on #38
`tcp        0      0 0.0.0.0:5666            0.0.0.0:*               LISTEN                                              925736/puma 5.3.2 (
tcp        0      0 172.29.187.221:5666     ip:1050      ESTABLISHED                                         925736/puma 5.3.2 (
tcp        0      0 172.29.187.221:5666    ip :1095      TIME_WAIT                                           -
tcp        0      0

[2021-07-30 05:18] FunnyWolf commented on #38
![image](https://user-images.githubusercontent.com/17685281/127604127-17c0333c-69ab-4186-878e-b6f675c5774b.png)
![image](https://user-images.githubusercontent.com/17685281/127604190-49b6e8e4-85dc-4921-837f-1d91fb11c9e9.png)

[2021-07-30 05:24] wumingzhilian commented on #38
多谢师傅，还有一个问题，我想写一个viper指北，师傅这个可以发布吗？

[2021-07-30 06:11] FunnyWolf commented on #38
没有问题,发布后可以提交issus,还可以同步到viper文档中

[2021-07-30 06:16] wumingzhilian commented on #38
我想发到FB这种开放平台，师傅有方便的联系方式嘛/邮件

[2021-07-30 06:53] FunnyWolf commented on #38
你直接发就可以啦,发完之后把地址贴到issus中,后续会同步到https://www.yuque.com/vipersec中

[2021-07-30 06:54] FunnyWolf commented on #38
也可以联系weixin: xiaofengzishishui

[2021-07-30 07:02] #38 closed

[2021-07-30 10:56] leiyuch opened #39 "[BUG]在M1的芯片的MAC好像运行不了,用PD安装了arm版的kali 也是一样"
在M1的芯片的MAC好像运行不了,用PD安装了arm版的kali 也是一样

[2021-07-30 13:24] FunnyWolf commented on #39
这个没有适配过,涉及的组件太多了

[2021-08-01 04:27] #39 closed

[2021-08-13 17:55] wc7086 opened #40 "为什么没有安卓的载荷？"

[2021-08-15 11:53] FunnyWolf commented on #40
android本身在红队评估中应用很少

[2021-08-15 11:53] #40 closed

[2021-08-24 09:45] famei opened #41 "执行 运行信息 时失败"
**描述Bug**
模块 主机基础信息 的回调函数callhack运行异常

**如何复现**
主机运行信息 点击从新请求时运行失败 提示
模块 主机基础信息 的回调函数callhack运行异常

**截图**
![image](https://user-images.githubusercontent.com/61237921/130594519-052f2d4e-217f-4083-8c7c-47b62e115368.png)

**运行环境:**
 - OS: Windows 10 (10.0 Build 22000).
 - Browser Google Chrome 版本 92.0.4515.159（正式版本） （64 位）
 - Version v1.4.0 20210822

@Funnywolf

[2021-08-24 12:22] FunnyWolf commented on #41
更新ipaddress库时引入的bug,下个版本修复

[2021-08-24 14:15] #41 closed

[2021-08-26 07:42] Nixiabing opened #42 "[BUG]"
**描述Bug**
Linux主机端口转发和内网路由使用失败

**如何复现**
搭建红日安全 vulnstack3进行测试发现：
攻击机：210.1.10.40（docker部署viper）
双网卡靶机1Linux ： 210.1.55.103 ( 192.168.93.100 )
靶机2Windows：192.168.93.20
已设置端口转发，从内网192.168.93.100的20000端口转发到210.1.55.40的监听端口上，
靶机2也已经成功建立反向shell，与192.168.93.100完成连接，
但平台上仍未看到靶机2上线，请问是何原因？

**预期行为**
请描述预期希望出现的行为.

**截图**
![image](https://user-images.githubusercontent.com/20591728/130921761-49b6f384-10bb-

[2021-08-28 10:48] Nixiabing commented on #42
新建bind_tcp监听，内网路由也加了，靶机2上路由也写了，但好像还是不能上线。。
![image](https://user-images.githubusercontent.com/20591728/131215492-79c8c405-86e6-4645-898b-4ca51a43b8c0.png)
![image](https://user-images.githubusercontent.com/20591728/131215516-c6c445ae-ae28-4e8e-b810-49c166052f66.png)

[2021-08-29 12:12] #10 closed

[2021-09-02 03:00] FunnyWolf commented on #42
配的不多,参考如下文档:https://www.yuque.com/vipersec/blog/vcnxah

[2021-09-02 07:02] #42 closed

[2021-09-10 03:09] Xc1Ym opened #43 "viper session监控"
在使用钉钉bot的session监控功能时，钉钉bot推送消息可读性差，存在未解码的Unicode字符和utf-8字符，希望可以增强session监控的可读性
![123](https://user-images.githubusercontent.com/29765332/132793305-2fe7eac5-6c96-4d5c-a79d-b118b8485095.png)

[2021-09-10 07:01] FunnyWolf commented on #43
恩,当时只是hack了这个功能,没有优化,接下来版本会针对性优化一下.

[2021-09-17 08:39] 9uoer opened #44 "[SUGGEST]您好，我的功能标签无法下移"
当主机上线比较多时，真的不容易看啊
![image](https://user-images.githubusercontent.com/34193964/133752485-de496ffe-8761-402c-a258-2d05288c17b3.png)

[2021-09-17 09:29] FunnyWolf commented on #44
没明白,是主机太多了吗?可以滚动呀

[2021-09-17 19:02] 9uoer commented on #44
Emmn,是这个意思没错，但总觉得不易于显示，大部分时间我需要看下面的时候都是等后台执行任务，或者一次性操作的时候，加路由等，多少浪费下面大量的空间啊，既然执行命令等也是窗口化，那么能不能做下面的功能页栏可以随意拖动呢？

[2021-09-17 19:03] 9uoer commented on #44
我的意思内网代理，加路由没记错也是窗口化

[2021-09-18 06:56] FunnyWolf commented on #44
这个是取舍问题,在我实际使用场景中一般就控制10台以下机器,所以上边部分能全显示出来,主要看模块的输出结果.
可能端口扫描会产生大量主机,但是很多就是看一下不会关注.
还有一点是窗口化打开关闭是两次点击,tab是一次点击.

[2021-09-18 10:54] #44 closed

[2021-09-18 13:09] #43 closed

[2021-09-25 15:44] icanp1ay opened #46 "payload增加bsd类"
能否考虑payload增加bsd类，使用场景还挺多的

[2021-09-26 03:45] FunnyWolf commented on #46
bsd类没有meterpreter类的payload,上线之后viper大部分功能都用不了.

[2021-09-27 11:25] #46 closed

[2021-10-02 15:13] ViCrack opened #47 "数据库迁移版本化管理"
发现有时候更新的话 , 数据库结构可能不兼容 , 看文档里面是说要删掉数据库文件重新生成才行 , 我想数据库这部分是否可以搞一个版本化管理的 , 每次升级不兼容的版本能够进行增量更新 , 而不是得手工删掉重来

好像python这边有个SQLAlchemy Alembic等工具可用于数据库迁移 , 不知道有没有比较好的方式处理

![图片](https://user-images.githubusercontent.com/18179821/135722259-7c8260c9-a75f-4b46-9df7-d93ac90484cf.png)

[2021-10-03 02:01] FunnyWolf commented on #47
django有工具可以实现数据库更新,就是实现起来有点费劲,要考虑的情况比较多

[2021-10-25 02:13] FunnyWolf opened #48 "安装Viper时无法拉取镜像"
**描述Bug**
安装Viper时无法拉取镜像.

**如何复现**
执行docker-compose up -d时出现如下错误
[code]

@Funnywolf

[2021-10-25 02:14] #48 closed, assigned to FunnyWolf

[2021-10-25 02:27] FunnyWolf opened #49 "CentOS7安装Viper后无法启动问题"
**描述Bug**
按照安装文档安装后,执行docker-compose up -d时,发现容器不断重启

**如何复现**
执行
[code]
出现如下错误
[code]

@Funnywolf

[2021-10-25 02:27] #49 closed, assigned to FunnyWolf

[2021-10-25 02:28] FunnyWolf opened #50 "启动后无法挂载目录"
**描述Bug**
执行docker-compose up -d后发现无法挂载log,db,nginxconf等目录

@Funnywolf

[2021-10-25 02:28] #50 closed, assigned to FunnyWolf

[2021-10-25 02:29] FunnyWolf opened #51 "https://vipsip:60000无法访问,docker容器运行正常"
**描述Bug**
按照安装教程在VPS安装后,发现https://vipsip:60000无法访问,docker容器运行正常.

@Funnywolf

[2021-10-25 02:30] #51 closed, assigned to FunnyWolf

[2021-10-25 02:31] FunnyWolf opened #52 "docker-compose pull 提示no space left on device"
**描述Bug**
docker-compose pull 提示no space left on device

@Funnywolf

[2021-10-25 02:31] #52 closed, assigned to FunnyWolf

[2021-10-25 02:32] FunnyWolf opened #53 "安装Viper后执行docker ps查看容器状态,发现容器不断重启"
**描述Bug**
安装Viper后执行docker ps查看容器状态,发现容器不断重启

@Funnywolf

[2021-10-25 02:32] #53 closed, assigned to FunnyWolf

[2021-10-25 02:33] FunnyWolf opened #54 "Console 功能不可用,也无法创建监听"
**描述Bug**
Console 功能不可用,也无法创建监听

@Funnywolf

[2021-10-25 02:33] #54 closed, assigned to FunnyWolf

[2021-10-25 02:34] FunnyWolf opened #55 "为什么生成的 免杀载荷 不免杀?"
**描述Bug**
为什么生成的 免杀载荷 不免杀?

@Funnywolf

[2021-10-25 02:34] #55 closed, assigned to FunnyWolf

[2021-10-25 02:35] FunnyWolf opened #56 "为什么无法使用webshell上线Session?"
**描述Bug**
为什么无法使用webshell上线Session?

@Funnywolf

[2021-10-25 02:35] #56 closed, assigned to FunnyWolf

[2021-10-25 02:36] FunnyWolf opened #57 "为什么在VPS安装的Viper上线了很多国外的PC机?"
**描述Bug**
为什么在VPS安装的Viper上线了很多国外的PC机?

@Funnywolf

[2021-10-25 02:36] #57 closed, assigned to FunnyWolf

[2021-10-27 08:17] getcode2git opened #58 "模块免杀无法使用云函数配置IP和相关hostname"
模块免杀无法使用云函数配置IP和相关hostname
![image](https://user-images.githubusercontent.com/16176349/139027338-235f9488-3544-4513-8c56-abf88746d893.png)

[2021-10-28 05:47] #58 closed, assigned to FunnyWolf

[2021-10-29 04:58] littleheary opened #59 "安装了证书还是提示没有证书支持，怎么办"
已经生成了新的证书，并且把client.pfx安装在本地了，电脑也重启了，但是访问还是提示。
400 Bad Request
No required SSL certificate was sent
nginx/1.14.0 (Ubuntu)

这个怎么解决？

[2021-10-30 12:12] 2048556128 opened #60 "60000端口拒绝请求"
按照流程弄完之后，无法访问，是咋回事啊？cd docker-compose up -d后返回
┌──(root💀kali)-[~/VIPER]
└─# docker-compose up -d
viper-c is up-to-date
![Screenshot_2021-10-30-20-08-43-726_com sonelli juicessh](https://user-images.githubusercontent.com/68473229/139532416-bc0640cc-1492-4d66-9e09-c98dfc466627.jpg)

[2021-10-31 04:36] FunnyWolf commented on #60
https://github.com/FunnyWolf/Viper/issues/51

[2021-10-31 05:30] 2048556128 commented on #60
按照流程60000端口没有开启，咋回事啊？

[2021-10-31 06:10] FunnyWolf commented on #60
那是nginx没有起来,什么操作系统装的,是用一键脚本装的还是手工装的

[2021-11-01 09:10] findexp opened #61 "[BUG] v1.5.6"
**描述Bug**
1.msfconsole 经常调不出
2.主机界面卡住
3.已经尝试重启docker，问题没有解决
4.重启过docker以后出现历史监听丢失的问题
5.消息那里经常出现：msf连接失败,检查 http://127.0.0.1:60005/api/v1/json-rpc 是否可用

**如何复现**
安装的 v1.5.6 版本

附部分日志

[code]

[code]

[code]

[code]

**截图**
![image](https://user-images.githubusercontent.com/8676062/139646178-c615936e-0131-4a23-8e42-eee6c99470ec.png)

@Funnywolf

[2021-11-01 10:46] FunnyWolf commented on #61
这个问题刚刚发现,马上发版本修复

[2021-11-01 12:40] FunnyWolf commented on #61
该问题最新版本镜像已修复

[2021-11-01 13:13] littleheary commented on #59
服务器端是ubuntu，客户端是windows

[2021-11-01 13:32] findexp commented on #61
刚更新了还是有问题

[code]

[2021-11-01 14:13] FunnyWolf commented on #61
唉,再修一下吧

[2021-11-02 01:14] FunnyWolf commented on #61
已更新版本,修复此问题

[2021-11-02 05:10] #61 closed

[2021-11-02 05:11] #60 closed

[2021-11-02 05:12] FunnyWolf commented on #59
不应该呀,加wx:xiaofengzishishui我看一下

[2021-11-02 17:13] 1n7erface opened #62 "[BUG]session不显示的BUG"
在使用VIPER时，启动docker的大概5-10分钟之内运行exe等木马，可以在session列表中显示出来。
但在之后的时间里，运行的木马现实不到web的session列表，无论我刷新页面。但其实session已经上线，此时重启docker容器，然后web会出现session机器。

[2021-11-02 23:33] FunnyWolf commented on #62
这个问题有可能是和 https://github.com/FunnyWolf/Viper/issues/61 是一个问题,获取geo导致handler卡死,建议docker-compose pull 看一下是否是最新镜像.

[2021-11-03 03:39] Yang0615777 commented on #62
ok,Sir.I'll try it and give a conclusion in the afternoon.

[2021-11-03 10:41] Yang0615777 commented on #62
尝试最新的版本之后，问题依然存在。还是在docker启动5-10分钟之后不能上线

[2021-11-03 11:40] FunnyWolf commented on #62
发日志看一下?https://www.yuque.com/vipersec/blog/is0ypq

[2021-11-03 11:55] findexp opened #63 "[BUG] v1.5.6 删除监听器，服务器仍存在端口占用的问题"
**描述Bug**
版本 v1.5.6 ，有会话情况下，删除监听器以后，服务器仍存在端口占用的问题

**如何复现**
1. 新建一个监听，比如80端口
2. 使用该荷载上线一个session会话
3. 删除该监听器
4. Bug出现了，服务器上80端口仍然会被占用
理论上删除监听器，应该所有session会话都掉线的，但是这里却没有
会话没有掉线，端口也还是仍然占用状态

**截图**
[code]

@Funnywolf

[2021-11-03 12:02] findexp opened #64 "[BUG] v1.5.6 x86的荷载没法调用 mimikatz"
**描述Bug**
v1.5.6版本
 x86的荷载没法调用 mimikatz那些

**如何复现**
1. 使用x86荷载上线一个管理权限以上session
2. 调用mimikatz，获取Windows内存密码

**截图**
[code]

@Funnywolf

[2021-11-03 13:30] FunnyWolf commented on #64
这个是mimikatz本身的限制,在x64的机器上如果需要使用
mimikatz必须使用x64的session

[2021-11-03 13:32] FunnyWolf commented on #63
这个是http类型监听吧?特意这么设计的,如果http监听直接删除session就掉线了,你可以试试吧监听对应的session删除,这时监听就自动退出了.

[2021-11-04 03:20] #63 closed

[2021-11-04 06:39] Yang0615777 commented on #62
看了日志，并没有什么异常。
![image](https://user-images.githubusercontent.com/52184829/140268881-1bcd7f10-90e3-4e50-9db8-bc3df08143a9.png)
但是从右下角可以看出确实有session的上线操作，但是session列表中并无此进程。

[2021-11-04 06:41] Yang0615777 commented on #62
![image](https://user-images.githubusercontent.com/52184829/140269101-324c7462-d80a-438c-aeb8-664732d09e26.png)
![image](https://user-images.githubusercontent.com/52184829/140269121-e3809683-ea31-4577-a50d-8604a9484bf8.png)
但是我重启docker之后，session列表中会出现此进程。

[2021-11-04 07:47] FunnyWolf commented on #62
msfconsole里面有session没?

[2021-11-04 07:52] #59 closed

[2021-11-04 08:02] #64 closed

[2021-11-04 08:36] findexp commented on #64
mimikatz好像有x86的吧

[2021-11-04 08:41] findexp commented on #63
是https的监听
不可能删除session啊
1.session如果是注入正常系统进程的，确定删除session进程或者系统不会崩？
2.有时候服务器要用80端口，这里只能选择关闭docker了。所以这个可能不合理

[2021-11-04 09:37] Yang0615777 commented on #62
并没有，但是重启之后，msfconsole里面也就有了。

[2021-11-04 09:39] Yang0615777 commented on #62
我觉得应该是客户端木马运行时，viper收到请求却拒绝连接或连接失败。但是客户端的木马仍在运行状态，当我重启viper时，客户端上线。所以viper应该是监听出问题了在运行长时间之后。

[2021-11-04 09:42] Yang0615777 commented on #62
如果需要日志截图，请说明哪个日志文件我将附上截图。但是我查看并无异常

[2021-11-04 11:13] FunnyWolf commented on #62
嗯,问题可能出在监听防火墙这个新功能上,我测试一下

[2021-11-04 14:06] Yang0615777 commented on #62
我并不这样认为，因为监听防火墙是你让我更新之后最新的版本出现的此功能。但是在更新前此问题就已经存在。方便在VX上聊吗，如果你不便提供你的VX，我的VX是：SecDev_Yang

[2021-11-07 03:21] FunnyWolf commented on #62
从日志上来看是ruby申请内存失败导致的session创建失败,但是为什么在系统内存充裕的情况下ruby还会出现申请内存失败问题还需要继续分析一下.

[2021-11-13 04:17] findexp opened #65 "[BUG] v1.5.7"
**描述Bug**
更新后msf起不来

**如何复现**
请说明如何复现Bug:
1. docker pull 更新了一下
2. 后台msf起不来了。。

**部分日志**
[code]
我咋是 v1.5.7版本了。。。git这不是1.5.6么。。
@Funnywolf

[2021-11-13 09:22] FunnyWolf commented on #65
1.5.7没写readme,起不来了吗?设置里面渗透服务状态是啥?

[2021-11-13 19:02] findexp commented on #65
是正常状态，msf起不来，主页面session那里也点不开

[2021-11-14 04:43] FunnyWolf commented on #65
uwsgi.log日志发一下

[2021-11-14 06:34] Tokisaki-Galaxy opened #66 "提个小小的建议"
萌新刚写了一篇关于使用cloudflare argo隧道隐藏viper服务器地址
https://tokisaki.top/blog/viper-via-cloudflare-argo/
大佬能不能考虑一下加到文档里的反溯源配置里？

[2021-11-14 11:21] findexp commented on #65
[code]

[2021-11-15 01:28] FunnyWolf commented on #66
没问题,这个是加在https://www.yuque.com/vipersec/help/xbz4hx中还是在github的readme中单独加一项友情链接?

[2021-11-15 01:29] FunnyWolf commented on #66
这个配置方法能不能用于上线session呢?比如reverse_http的payload?

[2021-11-15 01:30] FunnyWolf commented on #65
这个可能和https://github.com/FunnyWolf/Viper/issues/62相关,尚在定位中

[2021-11-15 13:34] Tokisaki-Galaxy commented on #66
加个友情链接吧。

理论上可以，我过几天再写一篇通过Argo上线http/https的。
如果session、后台全部走argo，那么就不用部署在拥有公网IP的VPS上了，甚至可以部署在家里的树莓派上。

[2021-11-15 14:20] 9uoer opened #67 "[BUG]无法使用https监听载荷"
**描述Bug**
当使用https监听载荷，且启用ssl证书的时候，无法监听

**截图**
![ssl证书问题](https://user-images.githubusercontent.com/34193964/141794291-ea4336b4-a408-47a1-bf43-a75d1b02323b.png)
![ssl2](https://user-images.githubusercontent.com/34193964/141794303-226970ea-c8a5-4ef1-84ff-d6e1a273e4b8.png)

@Funnywolf

[2021-11-15 15:22] FunnyWolf commented on #66
没问题，我明天加上，期待后续文章

[2021-11-15 23:31] FunnyWolf commented on #66
https://github.com/FunnyWolf/Viper/commit/807e1305e3973e1bce344a0b71cb951e07c1f0e9

[2021-11-15 23:39] FunnyWolf commented on #67
![image](https://user-images.githubusercontent.com/17685281/141869729-0ca0fc1b-7630-4694-b2a9-60079060003a.png)

www.example.com.pem是不是已经被删除了

[2021-11-15 23:50] #66 closed

[2021-11-16 06:33] evi1hack commented on #67
+1

![微信截图_20211116142918](https://user-images.githubusercontent.com/16398717/141933413-02775618-028b-424f-a8e3-df3ca0be4dc0.png)

![微信截图_20211116143009](https://user-images.githubusercontent.com/16398717/141933481-fb1d20fa-5588-4dea-b7b9-2cbb21b76f20.png)
![微信截图_20211116142949](https://user-images.githubusercontent.com/16398717/141933502-856c9e5b-6e8c-49fc-8899-01c4388c4c3b.png)

pem没有被删除，试了不行啊。

[2021-11-16 07:53] 9uoer commented on #67
对的，没被删除，我也尝试过自己制作pem文件，确实不行。重装镜像之后，纯净系统下安装viper，功能还是不可以使用

[2021-11-16 08:20] FunnyWolf commented on #67
反馈一下framework.log日志信息吧,看一下具体错误是什么

[2021-11-16 08:31] FunnyWolf commented on #67
我已经重现并定位到问题的原因,今天2021-11-16晚上会更新一版,修复这个问题

[2021-11-16 09:27] 9uoer commented on #67
大佬牛批，刚才不在

[2021-11-16 11:38] FunnyWolf commented on #67
新版本已修复

[2021-11-17 01:18] #67 closed

[2021-11-17 03:59] M0bi1e opened #68 "[功能需求] 建议在web登陆加上二次认证"

[2021-11-17 05:08] sbhack opened #69 "[BUG]前端无法加载"
**描述Bug**
使用了自动编排，shellcode上线。不确定BUG如何触发的，用了一段时间之后，web页面前端上面显示主机的地方，一直在转圈圈。日志如下：

**如何复现**
请说明如何复现Bug:
1. 安装Viper
2. 打开浏览器
3. 输入密码
4. Bug出现了

**截图**
==> daphne.log <==
None - - [17/Nov/2021:05:04:59] "WSDISCONNECT /ws/v1/websocket/heartbeat/" - -

==> uwsgi.log <==
Job "MainMonitor.sub_heartbeat_thread (trigger: interval[0:00:01], next run at: 2021-11-17 05:05:00 UTC)" raised an exception
Tracebac

[2021-11-17 05:21] FunnyWolf commented on #69
打包心跳数据时报错了,具体哪个数据导致的日志中看不出来,msfconsole中session还在吗?

[2021-11-17 05:24] FunnyWolf commented on #68
为什么要二次认证,为了隐藏主页吗?

[2021-11-17 06:04] sbhack commented on #69
在的，console这些都可以操作的，session也在，唯独上面显示主机列表那个地方一直转圈圈，也尝试重装，只要不清数据，重装也会存在这个问题，估计大概率是自动编排触发的BUG。

[2021-11-17 06:12] FunnyWolf commented on #69
这个我没遇到过,应该是session特定的数据导致打包失败,方便发送给我更多的信息吗?比如自动编排的配置,msfconsole执行sessions的结果,或者加我WX:xiaofengzishishui

[2021-11-18 02:20] #68 closed

[2021-11-20 14:36] Tokisaki-Galaxy opened #70 "[BUG]新建监听LHOST似乎有部分域名无法设置"
**描述Bug**
请简短描述遇到的Bug.
新建监听中，LHOST参数似乎有部分域名无法设置。。。

**如何复现**
请说明如何复现Bug:
1. 新建监听
2. 设置LHOST为某个域名
3. 提示新建监听超时
4. Bug出现了

输出里的错误提示：
MSFRPC> Application server error: One or more options failed to validate: LHOST.

**截图**
因为在新建监听中可能无法准确体现问题，所以截了msfconsole里面的
请提供Bug出现时的截图.
![1](https://user-images.githubusercontent.com/61621971/142730220-3670626d-f134-4dbd-8090-a6b068fbd140.jpg)

![2](https://user-ima

[2021-11-21 04:01] FunnyWolf commented on #70
设置lhost时代码有一处检查
[code]
 ::Rex::Socket.getaddress表示设置的域名必须有dns记录才可以.

viper中和原生msfconsole的结果不同是可能是以下原因:
viper的docker中无法解析tp.astraia.top,原生msfconsole操作系统可以解析tp.astraia.top这个域名
另外我在可以联网的viper环境测试了一下,可以讲lhost设置成tp.astraia.top

[2021-11-21 04:58] GSCSDSUN opened #71 "[BUG] 前端 控制台session无法加载"
**描述Bug**
使用一段时间后 控制台session无法加载 不确定BUG如何触发

**如何复现**

请说明如何复现Bug:
1. 安装Viper
2. 打开浏览器
3. 输入密码
4. Bug出现了

**截图**
请提供Bug出现时的截图.
![E(DOV8BG (`7J8K T)GHP%W](https://user-images.githubusercontent.com/46085443/142750124-97ad7fc6-1134-4800-9c19-4503d2aef09e.png)
@Funnywolf

[2021-11-21 05:04] GSCSDSUN commented on #71
还有 使用一段时间之后 msfrpcd 会死 重启也无法解决 只能等着

[2021-11-21 05:36] Tokisaki-Galaxy commented on #70
似乎是我自己服务器dns设置有问题，无法解析到C2地址。
更换DNS地址后解决了，抱歉。

[2021-11-21 05:36] #70 closed

[2021-11-21 07:37] GSCSDSUN commented on #71
但是只要删除redis的 数据就能恢复了

[2021-11-21 07:50] Tokisaki-Galaxy opened #72 "msf http使用cloudflare argo上线"
https://tokisaki.top/blog/meterpreter-via-cloudflare-argo/
msf http使用cloudflare argo上线，隐藏C2真实地址。

下一步想解决https，但是没啥思路，不知道证书是用哪一个。百度了一圈也没找到啥相关的，不知道大佬有没有啥想法。

[2021-11-21 09:54] FunnyWolf commented on #71
https://github.com/FunnyWolf/Viper/issues/62

[2021-11-21 09:57] FunnyWolf commented on #72
https://tokisaki.top/blog/viper-via-cloudflare-argo/ 这个初始教程是不是多配点图?看了一遍没会配

[2021-11-21 10:52] FunnyWolf commented on #72
argo默认支持https(比如https://vip.test.com和http://vip.test.com都能访问到viper后台)
所以viper中启动一个http监听,但是生成一个同样配置的https载荷(证书用argo生成的pem证书),默认是可以上线的,

[2021-11-21 10:54] FunnyWolf commented on #71
https://github.com/FunnyWolf/Viper/issues/69

[2021-11-21 11:52] FunnyWolf commented on #71
https://github.com/FunnyWolf/viperpython/commit/5629d5783a4c4a1a5a34bad36a6ecc707498f092

[2021-11-21 11:53] FunnyWolf commented on #69
https://github.com/FunnyWolf/viperpython/commit/5629d5783a4c4a1a5a34bad36a6ecc707498f092

[2021-11-21 13:47] Tokisaki-Galaxy commented on #72
谢谢大佬，由于我是高中生，要周末才能回家弄，其余时间只能在学校呆着。我下周末回家试试。
另外那个教程我没有注意，回去我会多配点图的。

[2021-11-21 14:02] Tokisaki-Galaxy commented on #72
另外想问问，argo上线之后由于是端口转发，所以VIPER里显示的IP地址是127.0.0.1 。
有没有有可能通过某种端口来获得外网IP地址，并同步（修改）VIPER里面的IP地址。

[2021-11-21 23:49] FunnyWolf commented on #72
上线后viper的`获取互联网出口IP`模块可以获取到已控主机的外网IP,viper里面的ip地址当前无法修改,不过session是支持添加备注的,可以把ip地址写在备注里面,也算一个方法

[2021-11-22 02:45] sbhack commented on #71
使用一段时间之后 msfrpcd 会死 重启也无法解决 只能等着  这个问题确实有，我这边也遇到了

[2021-11-22 10:14] FunnyWolf commented on #72
https://github.com/FunnyWolf/Viper/commit/48fa570038e0cb8face649a3bf5c7f42ce5993c9

[2021-11-22 10:14] #72 closed

[2021-11-26 02:27] MoSheTeam opened #73 "你好毒蛇"
全网扫描是否支持自定义漏洞 ？
不支持自定义是因为什么

[2021-11-26 03:00] FunnyWolf commented on #73
全网扫描模块支持编写自己的模块,编写方法与普通模块相同(甚至更简单,因为逻辑少)
代码可以参考以下三个模块:
https://github.com/FunnyWolf/viperpython/blob/main/MODULES/Bot_MSF_Exp_GitlabExifRce.py
https://github.com/FunnyWolf/viperpython/blob/main/MODULES/Bot_MSF_Exp_SSHBruteForce.py
https://github.com/FunnyWolf/viperpython/blob/main/MODULES/Bot_MSF_Exp_VbulletinWidgetTemplateRce.py

[2021-11-26 06:54] evi1hack opened #74 "全网扫描数据能不能支持自定义导入"
全网扫描数据能不能支持自定义导入：
![image](https://user-images.githubusercontent.com/16398717/143539046-e0841aa2-1467-41fd-ac8b-4cc379a355f6.png)
现在的情况是只能从空间搜索引擎搜索导入，假如我已经有一批验证过的IP ，想放到全网扫描这里来利用里面的模块，能否支持自定义导入数据。

感谢大佬。

[2021-11-26 11:13] FunnyWolf commented on #74
这个idea非常赞,我争取下个版本就实现这个功能

[2021-11-26 16:56] lapalipi commented on #71
emmm....同遇+1
这就很蛋疼了。

[2021-11-27 01:26] #73 closed

[2021-11-27 01:30] FunnyWolf commented on #74
https://github.com/FunnyWolf/Viper/commit/bd370f0278dc07bcdd092ff51b7d9ce46eb45270

[2021-11-27 01:30] #74 closed

[2021-11-27 15:22] redblueteam opened #75 "Not all Modules are included in v1.5.8 [BUG]"
**描述Bug**
I am very new to using this awesome framework tool.

I read the modules' readme under (https://www.yuque.com/vipersec/module/taxm8t) and I found some of the modules are missing, e.g. Office宏钓鱼文档

![image](https://user-images.githubusercontent.com/29709246/143687027-e7638efb-cbcc-4454-91b6-8412b99e5831.png)

Is this a bug or intentionally hiding? Thanks.

**如何复现**
1. Install viper by usin

[2021-11-27 17:29] lapalipi commented on #69
找到解决的方法了嘛？

[2021-11-28 00:44] evi1hack commented on #75
First of all, you need to get a usable session (that is, the target has run your Trojan file online successfully), and on the basis of this available session, you can use these attack modules. I don't see a session available on your screenshot. You can refer to the tutorial here: https://www.yuque.com/viper-en/inh85g/gyvkrq

[2021-11-28 01:31] FunnyWolf commented on #69
根本原因没有找到,最新版本我在对应报错的地方加了日志(就是那个commit),如果问题还出现就能有更多信息帮助定位

[2021-11-28 03:41] redblueteam commented on #75
Thanks for your prompt response. I am a little bit confused here, cause I am thinking the function under "Initial Access" literally should not require an existing session, as I suppose it is used to generate some useful phishing files (e.g.a phishing doc) for sending to the target to obtain a session (if the target opens the phishing doc).

[2021-11-28 04:49] FunnyWolf commented on #75
Hi,I need more infomation to check where the problem is,would you feedback logs in `uwsgi.log` and `viperpython.log`,
You can download logs files it in the location described in the picture below
![image](https://user-images.githubusercontent.com/17685281/143729985-c210bf82-02cc-42d4-9335-cba3742a0279.png)

[2021-12-01 01:36] #75 closed

[2021-12-03 04:03] AdminPoker commented on #71
同遇，我之前开启了防火墙会出现这个问题，但是我现在把所有防火墙全部关闭了，还是出现了这个问题
<img width="1790" alt="图片" src="https://user-images.githubusercontent.com/51812136/144543321-8c936538-eb6f-4d94-a586-5073a0c7585f.png">

[2021-12-03 04:05] AdminPoker commented on #71
我这边也出现了这个问题，之前我把iptables开起来会出现这个问题，但是现在我已经把iptbales已经关闭了，还是出现了这个问题
<img width="1792" alt="图片" src="https://user-images.githubusercontent.com/51812136/144543474-e44c8ca3-a551-40ce-9b3e-20b415249d3b.png">
防火墙开启后，websocks就不能通信了，通过报错，好像是跨域问题，能不能后端把跨域这个加个cors头解决下

[2021-12-05 02:20] famei opened #76 "[BUG]session无法加载"
**描述Bug**
mfs内有session 但前端无法立即显示  必须等待1至3分钟后才能显示

**如何复现**
请说明如何复现Bug:
1. 安装Viper
2. 设置windows/meterpreter/reverse_winhttps监听
3. 设置监听防火墙 打开屏蔽沙箱IP
4. Bug出现了

**版本**
v1.5.9 20211204
Ubuntu 20.04.1 LTS
Google Chrome  96.0.4664.45

**截图**
![1](https://user-images.githubusercontent.com/61237921/144730852-da379e93-842a-48c4-a52f-ef54a3f86342.png)
![2](https://user-images.githubusercontent.com/61237921/1

[2021-12-05 03:10] FunnyWolf commented on #76
未完成初始化的session会显示在255.255.255.255这个主机下面
![image](https://user-images.githubusercontent.com/17685281/144731891-bdf7afdf-20c6-4ecb-8f3b-0031ab73da9f.png)

问题出在为什么没有自动生成255.255.255.255这个主机
另外session上线慢是因为ssl加密协商问题.
```[12/05/2021 02:01:09] [e(0)] core: The accept() returned nil in stream server listener monitor:  #<Socket:fd 16>```

[2021-12-05 03:19] FunnyWolf commented on #71
websocket没有使用cookie认证,502应该是网络问题,刷新页面无法恢复?

[2021-12-05 04:37] FunnyWolf commented on #76
https://github.com/FunnyWolf/viperpython/commit/adec10e1ac0e52b203b7f4d88c1eebfefa371f77

[2021-12-09 02:47] MoSheTeam commented on #73
你好感谢回复哈,我理解中Viper是否是一款以协同作战为主的工具,在漏洞扫描上使用独立的模块会造成很多不便,完全可以使用如yaml类的POC并且配合本地的Msfconsole 做到攻击载荷与探测一体 这是我的建议

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年11月26日(星期五) 中午11:01
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [FunnyWolf/Viper] 你好毒蛇 (Issue #73)

全网扫描是否支持自定义漏洞 ？ 不支持自定义是因为什么

全网扫描模块支持编写自己的模块,编写方法与普通模块相同(甚至更简单,因为逻辑少)
 代码可以参考以下三个模

[2021-12-14 14:53] xiyan123 opened #77 "[BUG] 重启之后渗透服务不可用"
**描述Bug**
请简短描述遇到的Bug.

重启之后渗透服务连接失败,请检查MSFRPC状态

WARNING: Local file /root/metasploit-framework/data/mettle/i486-linux-musl/bin/mettle is being used
WARNING: Local files may be incompatible Metasploit framework
WARNING: Local file /root/metasploit-framework/data/mettle/x86_64-linux-musl/bin/mettle is being used
WARNING: Local file /root/metasploit-framework/data/meterpreter/metsrv.x64.dll is bein

[2021-12-15 10:24] AdminPoker opened #78 "[BUG]-同一台主机，不同的地址回连，前端生成多个主机"
在同一台主机上安装了elf shell，在前端生成了好几个主机项
<img width="1785" alt="图片" src="https://user-images.githubusercontent.com/51812136/146168959-d17d61ed-5533-4517-836a-d849add22934.png">
推荐解决方案
获取到主机后，后端先使用主机名+主机ip地址+主机若干配置信息生成md5值，然后前端进行解析的时候，在碰到不同的主机回连，先获取主机信息加密的hash，再hash比对，如果hash和已有的一致，就前端显示的时候并入到现有的主机项里面去

[2021-12-15 12:31] FunnyWolf commented on #78
这个主机是有多个网卡吗?172和10.244是两个网卡地址?

[2021-12-15 12:31] FunnyWolf commented on #77
重启之后等一会(30秒)服务才能起来

[2021-12-16 23:16] #77 closed

[2021-12-16 23:16] #76 closed

[2021-12-18 15:59] decadecaomm opened #79 "[BUG]渗透服务连接失败,请检查MSFRPC状态"
渗透服务连接失败,请检查MSFRPC状态

[2021-12-20 10:33] thereallry opened #80 "[BUG]扫描log4j漏洞dnslog没有收到记录"
**描述Bug**
通过手动测试保证了dnslog和目标网站没有问题，符合触发log4j漏洞的条件。尝试使用viper进行扫描，配置了dnslog域名，访问相同的目标网站，dnslog没有收到记录。

**如何复现**
1. 启动viper
2. 配置DNSLOG域名
3. 配置并启动浏览器代理
4. 访问目标网站

ps: 如何看到替换payload重新发送请求的日志来进行排查？

@Funnywolf

[2021-12-20 13:57] FunnyWolf commented on #80
viper 2021-12-20 更新了新版本,请参考最新教程
https://www.yuque.com/vipersec/blog/lgrqm4#TeWHQ

[2021-12-23 06:54] #80 closed

[2021-12-24 10:05] Ru0ch3n commented on #79
+1，我也是这个问题

[2021-12-30 03:25] #78 closed

[2022-01-01 07:59] gitalei commented on #79
遇到了同样问题

[2022-01-07 02:59] zhengjiashengbaba opened #81 "[BUG]"
这边运行 docker-compose up -d 却没在本地看到镜像 和容器运行，是怎么回事呢

![image](https://user-images.githubusercontent.com/54987693/148484368-0f8e756a-3a04-48dc-8f46-6b36541f3b2d.png)

[2022-01-07 03:01] zhengjiashengbaba commented on #81
麻烦各位大佬解答

[2022-01-07 06:34] FunnyWolf commented on #81
硬盘空间不够了,删除几个images就可以了

[2022-01-07 06:34] #81 closed

[2022-01-09 08:09] admin123121 opened #82 "[BUG]"
viper pull时巨慢，明明用了外网节点的vps！

[2022-01-09 12:18] FunnyWolf commented on #82
可以使用香港节点,具体见手册
https://www.yuque.com/vipersec/help/olg1ua

[2022-01-09 12:18] #82 closed

[2022-02-08 11:11] carl1l opened #83 "[BUG] 脚本输出解析失败"
遇到错误:
脚本输出解析失败
Traceback (most recent call last): File "/var/tmp/1644318308.py", line 140, in <module> ipstr = ipstr.encode("utf-8") AttributeError: 'NoneType' object has no attribute 'encode'
Incorrect padding

[2022-02-11 06:32] 895515845 commented on #79
同样问题 +1

[2022-02-11 09:26] morganliup commented on #79
同样问题 +2

[2022-03-15 02:33] c0urag1 commented on #79
同样问题 +3

[2022-03-17 05:06] 19770214 opened #84 "[BUG]"
**描述Bug**
无法正常迁移进程,不断提示缺少参数

**如何复现**
请说明如何复现Bug:
1. Session上线
2. 直接迁移，报错

**截图**
请提供Bug出现时的截图.
暂时没有机子，等到过段时间买了新的机子装了之后给截屏（

PS:这个是MSF的问题，我看MSF框架的GitHub Issue有人反馈，官方已经修复，但是由于Viper面板的MSF不是最新的，所以未应用修复导致的此问题
@Funnywolf

[2022-03-18 01:18] FunnyWolf commented on #84
有msf官方issus的地址吗?

[2022-03-18 04:25] 19770214 commented on #84
https://github.com/rapid7/metasploit-framework/issues/12993

[2022-03-18 05:19] FunnyWolf commented on #84
已经修了,下个版本合并

[2022-03-18 13:22] #84 closed

[2022-03-18 13:22] 19770214 commented on #84
ok

[2022-03-19 12:44] ZP-Zzz opened #85 "MSFRPC"
MSFRPC> Application server error: Cannot cleanup files created during exploit if payload handler is disabled. To run anyway, set AllowNoCleanup to true

[2022-03-20 01:21] FunnyWolf commented on #85
运行什么功能触发这个错误的?

[2022-03-20 01:45] ZP-Zzz commented on #85
在bypass提权的时候出现的，而且其他的提权功能也用不了，不知道是不是我的问题

[2022-03-23 08:03] Aquilao commented on #79
+5

[2022-03-28 10:07] FunnyWolf commented on #79
这个问题最近版本更新之后应该发生概率较低了,还是频繁发生吗?

[2022-03-28 10:07] #85 closed

[2022-03-28 14:53] shun-gg commented on #79
每天都发生,绝望。

[2022-03-29 04:19] FunnyWolf commented on #79
从其他同学反馈来看,如果使用和viper内置的内网代理功能,会增大发生的概率,原因深入研究过,是ruby本身使用内存的逻辑导致,暂时也无解,后续可能把内网代理功能golang实现的代理替换掉.

[2022-03-29 05:10] shun-gg commented on #79
我没有使用内网代理功能，最近开通了监听防火墙，是否与这一模块有关？

[2022-03-29 09:35] CHNmyx opened #86 "[BUG]"
登录的时候显示502错误

1. 安装Viper
2. 打开浏览器
3. 输入密码
4. 点击确定
5. Bug出现了

@Funnywolf

[2022-03-29 10:04] FunnyWolf commented on #86
后台没起来,等一会就好了

[2022-03-29 10:06] CHNmyx commented on #86
额 我换了个浏览器就可以了，但是火狐还是上不去    感谢大佬

[2022-03-29 11:08] #86 closed

[2022-04-10 13:09] DNLINYJ commented on #79
刚安装就这样了(￣┰￣）

[2022-04-10 13:13] DNLINYJ commented on #79
环境是centos7.8
Linux xxxx 3.10.0-1127.el7.x86_64 #1 SMP Tue Mar 31 23:36:51 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

[2022-04-10 13:33] DNLINYJ commented on #79
我进docker容器看了下 msf好像没有安装

[2022-04-12 01:55] Xc1Ym opened #87 "[BUG]无法更新Fofa API"
**描述Bug**
Fofa API更新出现问题

**如何复现**
请说明如何复现Bug:
1. 全新安装Viper
2. 输入Fofa API
3. 返回500

**截图**
![image](https://user-images.githubusercontent.com/29765332/162863337-f4f67651-ddad-4be9-b414-2e57c798846a.png)

@Funnywolf

[2022-04-15 13:22] 2096779623 opened #88 "[BUG] 适配redis(6.x) termux"
**描述Bug**
[code]

**如何复现**
请说明如何复现Bug:
1. 在Termux上启动viper

2.用浏览器登录viper或者用viper自定义的msf连接到Redis

3.Bug出现了

**截图**
![image](https://user-images.githubusercontent.com/57583560/163575368-f75dd6ce-c0d4-455f-aec5-0cf67987bd56.png)
![image](https://user-images.githubusercontent.com/57583560/163576160-155041e7-97dd-493e-b522-1267febb4b20.png)

**提醒**

我在[termux](https://github.com/termux/termux-app)上运行的v

[2022-04-16 02:47] FunnyWolf commented on #88
[termux](https://github.com/termux/termux-app) 适配不了,因为msf本身就不支持termux,https://github.com/rapid7/metasploit-framework/issues/11023

[2022-04-16 05:00] 2096779623 commented on #88
虽然termux官方不打包，处理msf相关的问题，但是可以在termux上跑msf

[2022-04-16 05:21] FunnyWolf commented on #88
msf是能跑起来的?在termux上?

[2022-04-16 05:30] 2096779623 commented on #88
当然可以

[2022-04-16 07:23] FunnyWolf commented on #88
我又看了一下错误日志,应该不是redis版本问题,是vipermsf和viperpython读取redis密码(从配置文件里面读)失败了.
viperpython
![image](https://user-images.githubusercontent.com/17685281/163665862-3ed173d8-40f8-4b37-9521-39e3ae50d3c9.png)

vipermsf
![image](https://user-images.githubusercontent.com/17685281/163665813-338caa83-eb5b-4a23-bdfd-43bb93c81082.png)

我理解termux应该是没有/root/这种目录的,所以redis连接就失败了,可以把redis绑定在60004端口上,密码改成foobared规避一下

[2022-04-16 07:24] FunnyWolf commented on #88
viper的很多文件接口直接写死了/root/.msf4/这种目录,可能也有问题

[2022-04-16 07:27] 2096779623 commented on #88
改了目录之后能读取到yml，是不是跳转不到else

[2022-04-16 07:31] FunnyWolf commented on #88
改成60004和foobared应该vipermsf能连上了,viperpython还是连不上,还需要把REDIS_URL改成
[code]

[2022-04-16 07:32] 2096779623 commented on #88
![image](https://user-images.githubusercontent.com/57583560/163666205-e31e2967-8103-4424-bd5b-07448b8d486f.png)

之前改过

[2022-04-16 07:34] FunnyWolf commented on #88
不是vipermsf,是viperpython里面
![image](https://user-images.githubusercontent.com/17685281/163666283-f008dc78-3548-441c-a0d9-eeb60c5e9166.png)

[2022-04-16 07:35] 2096779623 commented on #88
也改过😉

[2022-04-16 07:35] FunnyWolf commented on #88
那应该没有问题了,试试跑一下

[2022-04-16 08:24] 2096779623 commented on #88
[code]

vipermsf没问题了，但是viper还有点问题，我再改改

[2022-04-16 09:04] 2096779623 commented on #88
![image](https://user-images.githubusercontent.com/57583560/163668939-228f0569-23cd-4336-8713-d9579c731b71.png)
[logs-1650099802.zip](https://github.com/FunnyWolf/Viper/files/8499564/logs-1650099802.zip)

[code]

[2022-04-16 11:40] FunnyWolf commented on #88
还是redis的密码问题,应该是CHANNEL_LAYERS这

[2022-04-16 12:30] 2096779623 commented on #88
![image](https://user-images.githubusercontent.com/57583560/163675031-c51df878-b5a7-4ca2-b45c-c777d2899119.png)
![image](https://user-images.githubusercontent.com/57583560/163675036-1109ff8e-7b9e-4706-81fd-db1980e1336a.png)

[code]

[2022-04-17 12:55] 2096779623 commented on #88
Redis没问题了，轮到msfrpcd了

[code]

[code]

[code]

[code]

[2022-04-17 15:38] 2096779623 commented on #88
除了ws的问题，别的都正常，为什么Android/meterpreter/里的都是暂无数据？
![Screenshot_20220417-220922](https://user-images.githubusercontent.com/57583560/163721706-8aa9103e-edd5-4dbb-9114-8aeb752e7757.png)

[2022-04-17 15:41] 2096779623 commented on #88
除了ws有问题别的都正常，部分木马不能生成（termux没有mingw）
为什么Android/meterpreter里的都是暂无数据？
![Screenshot_20220417-221037](https://user-images.githubusercontent.com/57583560/163721766-1f6b3cee-ea5d-4626-b578-a38492edf233.png)

![Screenshot_20220417-220150](https://user-images.githubusercontent.com/57583560/163721806-af79c66a-0eb5-4920-9901-289ef337f9bc.png)
![Screenshot_20220417-215905](https://user-images.githubusercont

[2022-04-18 05:39] FunnyWolf commented on #88
android的载荷没有适配,现在只实现了创建监听

[2022-04-22 04:42] wxx0105 opened #89 "[BUG]安装在vps上，会莫名超时"
监听器啥的一瞬间都消失了
![image](https://user-images.githubusercontent.com/71886755/164604518-3244c0c0-a1f9-42c0-89cb-d5bbe57d6c9b.png)
然后就显示这张图，也出现msf异常，跪求作者大大看看。

[2022-04-22 10:59] FunnyWolf commented on #89
能自动恢复不？

[2022-04-23 04:42] wxx0105 commented on #89
很遗憾不能，重新装了一次又不行了，求解决

[2022-04-23 04:42] wxx0105 commented on #89
系统是腾讯云centos8,2，2h2g，使用手动安装

[2022-04-23 04:45] wxx0105 commented on #89
系统设置了常驻cs4.0服务器，不懂这个有没有影响

[2022-04-23 12:42] FunnyWolf commented on #89
https://github.com/FunnyWolf/Viper/issues/62 是不是也用了内网代理和端口转发功能?

[2022-04-23 12:50] wxx0105 commented on #89
我是手动安装的，那时候我是按照文档打上去的。
tee docker-compose.yml <<-'EOF'
version: "3"
services:
  viper:
    image: registry.cn-shenzhen.aliyuncs.com/toys/viper:latest
    container_name: viper-c
    network_mode: "host"
    restart: always
    volumes:
      - ${PWD}/loot:/root/.msf4/loot
      - ${PWD}/db:/root/viper/Docker/db
      - ${PWD}/module:/root/viper/Docker/module
      - ${PWD}/log:/root/viper/Docker/l

[2022-04-23 14:26] wxx0105 commented on #89
这个会不会与cs服务器的开启有关，我之前安装好之后就上线cs的服务器了，这次重装后我不上cs服务器试试看。

[2022-04-30 15:12] DNLINYJ opened #90 "[BUG]Not Found: /ws/v1/websocket/heartbeat/"
**描述Bug**
突然不显示session列表 viperpython.log 内显示 Not Found: /ws/v1/websocket/heartbeat/
[日志文件 logs-1651331231.zip](https://github.com/FunnyWolf/Viper/files/8597179/logs-1651331231.zip)

**如何复现**
请说明如何复现Bug:
1. 安装Viper
2. 打开浏览器
3. 输入密码
4. Bug出现了

**截图**
![image](https://user-images.githubusercontent.com/82745795/166111142-7343c589-0441-43f4-89a8-3399b96c6561.png)
![image](https://user-images.githubuser

[2022-05-01 04:12] #90 closed

[2022-05-04 12:55] DiamondHunters commented on #79
持续出现此问题，无法使用

[2022-05-07 05:02] wxx0105 commented on #89
是我自己的vps开放端口过多吗？其实我全开了端口，我现在关闭一些端口试试，因为vps还安装了vulfocus。感谢回复

[2022-05-08 09:05] DNLINYJ opened #91 "[BUG] Not Found: /ws/v1/websocket/heartbeat/"
**描述Bug**
打开VIPER一直加载 渗透服务正常 LOG显示Not Found: /ws/v1/websocket/heartbeat/
[日志文件](https://github.com/FunnyWolf/Viper/files/8646688/logs-1651999799.zip)

**如何复现**
请说明如何复现Bug:
1. 安装Viper
2. 打开浏览器
3. 输入密码
4. Bug出现了

**截图**
![image](https://user-images.githubusercontent.com/82745795/167289323-06b78898-0381-4847-a493-c41f25ede2d5.png)

@Funnywolf

[2022-05-08 09:06] DNLINYJ commented on #91
同时还有ruby突然CPU占用高并一直保持的问题 导致VIPER无法使用

[2022-05-25 07:27] tomatoees opened #92 "请问fofa api接口在哪里"
![image](https://user-images.githubusercontent.com/43930234/170205173-30c3028f-bc38-428a-996e-9272ce0e62f1.png)

[2022-05-25 22:44] #92 closed

[2022-05-28 04:44] #88 closed

[2022-05-28 04:45] #87 closed

[2022-05-31 02:19] srsec opened #93 "[BUG] 编译前端代码，覆盖后，监听载荷报错"
**描述Bug**
通过编译前端代码，覆盖后，监听载荷那里报错。

这个就不用复现了吧。作者应该早就发现了问题了。只不过找不到原因吧。麻烦改下bug.

@Funnywolf

[2022-05-31 13:35] FunnyWolf commented on #93
(ಡωಡ)hiahiahia，作者在尝试定位该问题两个小时后，没有任何头绪，决定暂时躺平。。。。

[2022-06-01 20:55] itry02 opened #94 "[BUG]渗透服务连接失败,请检查MSFRPC状态"
在实际渗透中 靶机centos6.6 无waf 阿里云 攻击机Ubuntu 18.04 主机上线我就开始访问各种目录 访问了十几个目录就报这个错误 没有操作其他的 这个是什么问题 不清楚是被杀还是什么？

06-02 04:30:55模块: 主机基础信息 SID: 1 开始执行
06-01 18:05:46渗透服务连接失败,请检查MSFRPC状态
06-01 18:04:33渗透服务连接失败,请检查MSFRPC状态
06-01 18:03:51渗透服务连接失败,请检查MSFRPC状态
06-01 17:58:33MSFRPC> Invalid method parameter(s).
06-01 17:20:13MSFRPC> Invalid method parameter(s).
06-01 17:20:05MSFRPC> Invalid method parameter(s).
06

[2022-06-04 00:36] FunnyWolf commented on #89
已经支持，有模块

[2022-06-16 12:11] FunnyWolf commented on #79
https://github.com/FunnyWolf/Viper/commit/16a24a52e0fabaaff410d1a2f5d22e991ea3a37f

[2022-06-16 12:12] #89 closed

[2022-06-16 12:13] FunnyWolf commented on #71
https://github.com/FunnyWolf/Viper/commit/16a24a52e0fabaaff410d1a2f5d22e991ea3a37f

[2022-06-16 12:13] #71 closed

[2022-06-16 12:13] FunnyWolf commented on #62
https://github.com/FunnyWolf/Viper/commit/16a24a52e0fabaaff410d1a2f5d22e991ea3a37f

[2022-06-16 12:13] #62 closed

[2022-06-16 12:14] FunnyWolf commented on #94
https://github.com/FunnyWolf/Viper/commit/16a24a52e0fabaaff410d1a2f5d22e991ea3a37f

[2022-06-16 12:14] #94 closed

[2022-06-16 12:14] FunnyWolf commented on #65
https://github.com/FunnyWolf/Viper/commit/16a24a52e0fabaaff410d1a2f5d22e991ea3a37f

[2022-06-16 12:14] #65 closed

[2022-06-16 12:15] FunnyWolf commented on #69
这个未复现过,关闭

[2022-06-16 12:15] #69 closed

[2022-06-16 12:17] wxx0105 commented on #89
感谢回复，我马上重新上线viper，hw到来，希望可以有所成绩，感谢

[2022-06-23 07:42] qwc158 opened #95 "关于压缩回传模块的建议①不能压缩带有空格的目录；②压缩时会在靶机桌面生成一个viper的exe文件去压缩目录，图标明显；③靶机文件夹压缩完毕之后默认存放位置是桌面，太明显"
**描述Bug**
请简短描述遇到的Bug.

**如何复现**
请说明如何复现Bug:
1. 安装Viper
2. 打开浏览器
3. 输入密码
4. Bug出现了

**截图**
请提供Bug出现时的截图.

@Funnywolf

[2022-06-27 03:12] Espboxx opened #96 "内存占用过高"
运行久了之后，不管有没有权限 内存都会占用满

[2022-07-07 00:58] ydecl opened #97 "渗透服务 异常"
<html>
<body>

渗透服务 异常
![image](https://user-images.githubusercontent.com/53930390/177666880-12866ad5-9540-47c8-a396-c1cefb01aae1.png)
重启Viper没用。重启服务器在重开就好了。然后睡一觉又渗透服务 异常了。
监听什么的都用不了。

Viper版本v1.5.22
服务器CentOS Stream 8 x86_64

viperpython.log日志：
`msf连接失败,检查 http://127.0.0.1:60005/api/v1/json-rpc 是否可用
json_rpc服务无法连接,请确认!
msf连接失败,检查 http://127.0.0.1:60005/api/v1/json-rpc 是否可用
json_rpc服务无法连接,请确认!
msf

[2022-07-07 15:04] Mieiu opened #98 "https采用云函数上线，无法使用模块，通过模块的监听无法上线（session克隆，uac提权等）"
**描述Bug**
https采用云函数上线，无法使用模块，通过模块的监听无法上线（session克隆，uac提权等），生成exe载荷上线没问题
监听器：windows/x64/meterpreter_reverse_https，直接采用ip形式，功能正常

**如何复现**
请说明如何复现Bug:
1. 安装Viper
2. 打开浏览器
3. 输入密码
4. Bug出现了

**截图**
![image](https://user-images.githubusercontent.com/73978712/177806770-fbf39a46-a608-4f6a-9eef-b54c7ffa1606.png)

@Funnywolf

[2022-07-07 15:22] #98 closed

[2022-07-09 15:20] itry02 opened #99 "[改进]多增加一些对Linux系统的操作模块"
希望多增加一些对Linux系统 提权，提取密码，提取ak sk等功能

[2022-07-12 01:57] rexSurprise commented on #96
+1

[2022-07-13 03:42] drdjn3 commented on #97
同样+1，实战使用，突然间shell全掉了，渗透测试服务器异常

[2022-07-20 14:38] mi3aka opened #100 "msf https使用cloudflare argo上线"
[Viper-cloudflare-argo-https上线](https://mi3aka.eu.org/2022/07/19/Viper%E5%88%9D%E4%BD%93%E9%AA%8C/#https%E4%B8%8A%E7%BA%BF)

在参考[Tokisaki-Galaxy师傅](https://github.com/Tokisaki-Galaxy)的[issue #66](https://github.com/FunnyWolf/Viper/issues/66)和[issue #72](https://github.com/FunnyWolf/Viper/issues/72)后利用argo成功上线https

但存在两个问题

1. 使用Tokisaki-Galaxy师傅的http方法上线时,似乎存在问题,因此我进行了修改

2. 使用https方法进行上线时,`windo

[2022-07-21 15:10] FunnyWolf commented on #100
@FunnyWolf

[2022-08-05 23:58] Ma3h1r0 opened #101 "[BUG]"
**描述Bug**
Request error 502: https://ip:60000/api/v1/core/currentuser/
Gateway error.

**如何复现**
请说明如何复现Bug:
1. 安装Viper
2. 打开浏览器
3. 进入vpsip:60000 没有出现登录界面，直接进入了控制台，并且报错。

**截图**
请提供Bug出现时的截图.
![image](https://user-images.githubusercontent.com/76898760/183224877-dee17cf8-1323-498a-b115-33979349bd4d.png)

@Funnywolf

[2022-08-06 00:02] Ma3h1r0 commented on #101
补充一下，如果关闭ssl的话可以正常进入登录界面并登录 但是控制台会一直转圈圈

[2022-08-06 01:16] stevenlinfeng opened #102 "[BUG]为什么日志下载，只能下载当天，不能下载以往日志"
![image](https://user-images.githubusercontent.com/29966693/183227883-1e33651b-0051-4082-95e9-854039c8bbf0.png)

[2022-08-07 03:39] FunnyWolf commented on #102
每天12点清理前一天的日志,为了不占用vps的硬盘空间.

[2022-08-07 03:39] #102 closed

[2022-08-07 05:12] FunnyWolf commented on #101
看一下是不是开浏览器代理了

[2022-08-07 06:18] Ma3h1r0 commented on #101
没有开e

[2022-08-11 09:30] xsbod opened #103 "怎么啥都木有了"
**描述Bug**
请简短描述遇到的Bug.

**如何复现**
请说明如何复现Bug:
1. 安装Viper
2. 打开浏览器
3. 输入密码
4. Bug出现了

**截图**
请提供Bug出现时的截图.

@Funnywolf

[2022-08-11 10:07] #103 closed

[2022-08-12 05:47] gusechuisheng opened #104 "[BUG]不知道为什么我的linux就是不上线"
我本地kali正常执行，就是不上线

[2022-08-12 11:58] FunnyWolf commented on #104
环境问题,没法定位

[2022-08-12 11:58] #104 closed

[2022-08-13 02:18] zftishack opened #105 "viper无法暴力破解并且容易崩溃"
你好,我在使用过程中发现viper中的msf无法加载字典,还有一个问题就是当我传frp时候,viper很容易奔溃,我应该如何解决这两个问题了??

[2022-08-13 02:19] zftishack commented on #105
就是爆破功能似乎根本用不了

[2022-08-13 04:15] FunnyWolf commented on #105
崩溃是指session掉了吗?

[2022-08-13 04:16] FunnyWolf commented on #105
暴力破解用的是哪个模块?

[2022-08-13 04:55] zftishack commented on #105
我是使用f8x工具安装的viper，我之前试过好像无法加载字典，崩溃一般就是：访问页面能进去，但是啥都做不了啦，还有使用frp流量转发的过程中session也掉的特别快

[2022-08-13 11:36] FunnyWolf commented on #105
是最新版本吗?最近的一个版本刚解决msf卡死问题

[2022-08-14 03:12] Unknown404-bot opened #106 "[BUG]"
**描述Bug**
系统5.15.0-1011-oracle ubuntu架构aarch64安装后无法启动docker容器

**如何复现**
请说明如何复现Bug:
docker启动容器失败
查看docker日志显示
[code]

**截图**
请提供Bug出现时的截图.
![bug.jpg](https://user-images.githubusercontent.com/87880947/184520817-047d646c-186f-4379-9154-590404ead52f.jpg)

宝塔内启动docker显示失败，指令启动回显容器id
![Screenshot_20220814_111130.jpg](https://user-images.githubusercontent.com/87880947/184520845-56280f3a-dbb0-42fd-8365-

[2022-08-15 12:50] FunnyWolf commented on #106
不支持aarch64架构,只在x86测试过

[2022-08-16 02:36] bongbibi opened #107 "为什么要获取浏览器Canvas指纹?"

[2022-08-16 05:54] telegramerror opened #108 "使用cloudflare cdn无法上线"
Error 525
SSL handshake failed
证书使用cloudflare创建

windows/meterpreter_reverse_https
端口是cloudflare支持的2096

[2022-08-16 11:26] woOzZ2 opened #109 "[BUG] 新安装完成后，默认的会话无法删除"
**描述Bug**
请简短描述遇到的Bug.
默认的会话无法删除

**如何复现**
请说明如何复现Bug:
1. 安装Viper
2. 打开浏览器
3. 删除255.255.255.255主机
4. Bug出现了

**截图**
<img width="913" alt="image" src="https://user-images.githubusercontent.com/21095700/184868585-97866cca-0faf-452d-97fe-80c7447d4fd0.png">

@Funnywolf

[2022-08-17 10:04] #106 closed

[2022-08-17 10:06] FunnyWolf commented on #107
啥?

[2022-08-17 10:08] FunnyWolf commented on #109
特意这么设计的，为了在没有session时调用不需要session的模块

[2022-08-17 10:08] #109 closed

[2022-08-17 10:09] FunnyWolf commented on #108
没测试过，用云函数多好

[2022-08-18 14:03] #107 closed

[2022-09-01 01:12] muxinmufei commented on #97
同样+1

[2022-09-03 16:20] 80laotou opened #110 "[BUG]"
**作者你好，
我在树莓派上面搭建时，dockers里面并未启动系统，dockers日志提示信息是standard_init_linux.go:219: exec user process caused: exec format error。
 请问下作者是否对该处理器有过编译的版本’Linux debian 5.15.61-v8+ #1579 SMP PREEMPT Fri Aug 26 11:16:44 BST 2022 aarch64 GNU/Linux”

收到请回复，感谢作者的无私奉献。
@Funnywolf

[2022-09-04 03:37] FunnyWolf commented on #110
https://github.com/FunnyWolf/Viper/issues/106

[2022-09-04 04:45] #110 closed

[2022-09-06 01:44] k3rwin commented on #97
+1

[2022-09-07 01:19] zftishack opened #111 "打漏洞不正常"
添加路由后，用平台打17_010失败了
![图片](https://user-images.githubusercontent.com/58795040/188767626-2bca7732-9329-4ac5-a73c-5663d01c9286.png)

[2022-09-07 01:41] #111 closed

[2022-09-09 02:33] dayuwl opened #112 "关于ruby进程 CPU占用过高导致的渗透服务异常 临时解决方法"
近期遇到了ruby进程占用CPU资源过高导致渗透服务异常的问题 研究了一下 找到了一个临时解决的方法：
有这种问题的 可以使用cpulimit限制ruby占用CPU阈值
1、安装cpulimit
sudo yum install epel-release cpulimit
2、使用ps -A找出pid
3、运行cpulimit --pid 进程pid --limit 50
执行之后，该进程的 CPU 用量就会被控制在 50% 左右
@Funnywolf

[2022-09-09 13:41] FunnyWolf commented on #112
cpu 100%重来没有复现过,50%以后服务是否可用?

[2022-09-09 16:07] dayuwl commented on #112
我使用的是腾讯的轻量云服务器 CPU经常出现100% 我限制的是40% 可以正常使用

[2022-09-09 16:07] dayuwl commented on #112
我使用的是腾讯的轻量云服务器 CPU经常出现100% 我限制的是40% 可以正常使用
@FunnyWolf

[2022-09-10 01:19] FunnyWolf commented on #112
非常感谢，我会测试一下并更新文档

[2022-09-10 02:10] dayuwl commented on #112
我还发现了一个问题 因为我用的是轻量 ruby这个进程CPU用量增加之后msf就连接失败
msf连接失败,检查 http://127.0.0.1:60005/api/v1/json-rpc 是否可用
json_rpc服务无法连接,请确认!
msf连接失败,检查 http://127.0.0.1:60005/api/v1/json-rpc 是否可用
json_rpc服务无法连接,请确认!
msf连接失败,检查 http://127.0.0.1:60005/api/v1/json-rpc 是否可用
json_rpc服务无法连接,请确认!

[2022-09-10 04:11] FunnyWolf commented on #112
ruby就是msf进程

[2022-09-10 05:20] dayuwl commented on #112
重启之后又回到正常的状态了 隔天又出现了  这个是服务器的问题吗 用轻量服务器太小了 需要换一个配置高的吗

[2022-09-10 09:40] FunnyWolf commented on #112
不是,是msf代码问题

[2022-09-11 04:27] FunnyWolf commented on #112
https://github.com/FunnyWolf/Viper/commit/759e9606754a365670ff587f991e47298c31a6a2

[2022-09-11 04:27] #112 closed

[2022-09-11 04:28] FunnyWolf commented on #95
文件的目录默认使用session loader所在的目录

[2022-09-11 04:28] #95 closed

[2022-09-24 02:58] impossible-spe opened #113 "viper生成的Android木马不能适配当前手机"
现在viper生成的Android木马不能适配当前手机，这方面能否进行优化？或者说可以使用个配套工具对木马升级？

[2022-09-24 10:41] lhy2007 commented on #97
+1

[2022-09-25 04:32] impossible-spe opened #114 "【期望优化】windows的system权限是黄色框子但是root权限不是黄色框子"
![image](https://user-images.githubusercontent.com/108542811/192128501-a3deeae3-3ecf-4f01-9e5e-14eb52646218.png)
已经是root权限了，但是框子并没有变成黄色
![image](https://user-images.githubusercontent.com/108542811/192128516-fd56a70e-c90a-46ec-ba7a-665f70c83993.png)
显示的完整度是低

[2022-09-25 06:06] FunnyWolf commented on #113
android的马主要用来进行活动演示,内网渗透没有什么实战意义,没有计划优化.

[2022-09-25 06:34] #113 closed

[2022-09-25 06:35] #114 closed

[2022-09-26 02:15] DemoCap commented on #97
+1

[2022-09-30 09:10] laughlove opened #115 "改进"
关于viper的拓扑功能,是否可以新增取消或显示拓扑的功能,因为在用viper进行内网扫描时,可能会一次性出现非常多的主机,看起来会比较杂乱

[2022-10-01 08:57] FunnyWolf commented on #115
我理解是新增一个开关,可以打开/关闭显示没有session的主机的功能,这样拓扑就只显示有session的主机,是这样吧?

[2022-10-01 08:57] FunnyWolf commented on #115
@laughlove

[2022-10-01 09:06] laughlove commented on #115
是的，这样看着就不杂乱了

[2022-10-02 12:45] mkcmr opened #116 "[BUG]"
大佬请问出现 “渗透服务连接失败,请检查MSFRPC状态” 这种问题怎么解决啊？重装5次服务器都是这个问题

[2022-10-02 13:41] FunnyWolf commented on #116
刚安装报错是正常的,过1分钟就好了

[2022-10-03 01:59] mkcmr commented on #116
重启机子之后就好了，不过在生成载荷的时候又变成渗透服务异常

[2022-10-11 07:01] bikabiu1 opened #117 "[BUG]shell网络连接僵死"
经常出现shell掉了，然后目标机器的进程还在，网络连接状态是ESTABLISHED，但就是不重新上线。而这个时候重新执行一个新的shell是能上线的，那证明网络是通的

![图片](https://user-images.githubusercontent.com/84445953/195017862-e72d18b1-f3e1-4f1a-bd29-092a14472bc9.png)
![图片](https://user-images.githubusercontent.com/84445953/195018061-6e92c452-6203-4e3d-b4f6-eb1e6fc1be36.png)
![图片](https://user-images.githubusercontent.com/84445953/195018179-49bb7151-0911-4eef-be59-bc4e6

[2022-10-21 12:55] F6JO commented on #97
+1

[2022-10-25 09:04] xiaobaibai12 opened #118 "[BUG]----渗透服务连接失败,请检查MSFRPC状态"
请问一直出现    "渗透服务连接失败,请检查MSFRPC状态"   这怎么解决啊？（重装、更新、换系统全都试过了依旧没有解决）
最先我是在v1.5.24版本的，就有这个问题，等了很久25版本发布了，更新安装后还是一直存在。
平台都完全没法使用了

[2022-10-30 11:52] gnusec commented on #118
这个问题现在基本上一直都有。必须重启下服务才能用了好像

[2022-10-30 11:54] gnusec commented on #97
+1

[2022-11-12 02:50] telegramerror opened #119 "[BUG] 渗透服务异常"
viperpython.log
json_rpc服务无法连接,请确认!
msf连接失败,检查 http://127.0.0.1:60005/api/v1/json-rpc 是否可用
json_rpc服务无法连接,请确认!
内置模块加载完成,加载99个模块
自定义模块加载完成,加载0个模块
后台服务启动成功
Unauthorized: /api/v1/core/currentuser/
Unauthorized: /api/v1/core/currentuser/
Unauthorized: /api/v1/core/currentuser/
msf连接失败,检查 http://127.0.0.1:60005/api/v1/json-rpc 是否可用
json_rpc服务无法连接,请确认!
msf连接失败,检查 http://127.0.0.1:60005/api/v1/json-rpc 是

[2022-11-12 02:52] telegramerror commented on #119
无法重启渗透服务 Session全部超时

[2022-11-12 02:52] #108 closed

[2022-11-16 01:22] ohnoa commented on #97
+1

[2022-11-19 07:19] Sen12z commented on #100
![image](https://user-images.githubusercontent.com/87508803/202839677-6b1f32a0-f707-4ba8-86bb-cdc4a4202067.png)
https用了argo方式后，上线没一会整个viper就卡住了，请问有遇到过吗 @FunnyWolf @mi3aka

[2022-11-19 12:44] telegramerror commented on #119
老哥还在维护吗，这个能解决的话就非常方便了